﻿@model University.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCrt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCrt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFinaly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFinaly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Step)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pamphlet.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pamphlet.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
