﻿

@{
    ViewBag.Title = "سفارش ها";
}


<header class="publisher-header">
    <h1>@ViewBag.Title</h1>
</header>
<section class="publisher container-fluid margin-bottom-1em">

    <div class="row ">

        <div class="col-lg-3">
            <div class="filters">
                <div class="header-filters">فیلتر های جستجو</div>
                <input id="txt-search" class="filter-btn" name="search-text" type="text" placeholder="جستجو در همه فیلد ها">

            </div>
        </div>
        <div class="col-lg-9">

            <div class="filters ">
                <div class="header-filters">لیست سفارش های اخیر</div>
                <div class="row margin-bottom-1em">

                </div>
                <div id="list-user">

                    @Html.Action("OrderList")
                </div>
            </div>
        </div>
    </div>
</section>

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCrt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFinaly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Step)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pamphlet.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCrt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFinaly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Step)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pamphlet.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
