﻿@model  University.Models.University
@{
    ViewBag.Title = Model.Name;
    ViewBag.url = $"f/{Model.ID}";
    ViewBag.date = Model.Date_reg.ToShortDateString();
    ViewBag.Des = $"{Model.Name} در شهر {Model.City} که دارای {Model.News.Count()} خبر است.";
    ViewBag.keywords = $"{Model.Name},{Model.City.Name}";
}
<section id="university-info" class="countainer-fluid">
    <div class="container">
        <div class="instagram-uni">
            <img src="~/Images/layout/instagram-2.svg" alt="">
        </div>
        <div class="row">
            <div class="col-sm-3 ">
                <img src="~/Images/layout/uniazad.png" style="height: 10em;" alt="">
            </div>
            <div class="col-sm-5 uni-info ">
                <h1>@Model.Name</h1>
                <p>واحد : @Model.Vahed</p>
                <p>تعداد دنبال کنندگان : @Model.Uni_Follower.Count()</p>
            </div>
            <div class="col-sm-4" text-left>
                @if (User.Identity.IsAuthenticated)
                {
                    if (Model.Uni_Follower.Any(x => x.User.Cookie == User.Identity.Name))
                    {
                        <a href="" class="btn-unfollow">دنبال شده</a>
                    }
                    else
                    {
                        <a href="/uni/follow/@Model.ID" class="btn-follow">دنبال کردن</a>

                    }
                }
                else
                {
                    <a href="/uni/follow/@Model.ID" class="btn-follow">دنبال کردن</a>
                }
            </div>
        </div>
        <div class="content-count">
            @Model.News.Count() مطلب موجود است
        </div>
    </div>

</section>

<section class="university-news container">
    <div class="row">
        @foreach (var item in Model.News.OrderByDescending(x=>x.DateCrt).Take(8))
        {
            <div class="col-sm-3">
                <div class="card">

                    <img src="~/Images/news/@item.Image" alt="@item.Title">
                    <div class="card-title">
                        @item.Title
                    </div>
                    @*<div class="vahed"></div>*@
                    <div class="blue-line"></div>
                    <div class="short-des">
                        @item.ShortDescription
                    </div>
                    <div class="text-center">
                        <a href="/n/@item.ID/@item.Title.Replace(" ","-")" class="btn-show-news">نمایش</a>
                    </div>
                </div>
            </div>

        }

    </div>
</section>

<section class="teacher container">
    <div class="row">
        @foreach (var item in Model.uni_professor_between.Select(x => x.Professor).Take(8))
        {
            <div class="col-sm-3">
                <div class="card">
                    <img src="~/Images/professor/@item.Image" alt="@item.Name ">
                    <div class="card-title">
                        @item.Name
                    </div>
                    <div class="blue-line"></div>

                </div>
            </div>
        }


    </div>
</section>

<section class="uni-publisher container">
    @foreach (var item in Model.PublisherShop)
    {
        <div class="row">
            <div class="col-sm-2 text-center">
                <img src="~/Images/layout/open-book.svg" class="open-book" alt="">
            </div>
            <div class="col-sm-10 uni-pu-info">
                <h1>@item.Name</h1>
                <p>مسئول: @item.Owner</p>
                <p>آدرس: @item.Address</p>
            </div>
        </div>
    }

</section>

