﻿@model IEnumerable<University.Models.University>
@{
    ViewBag.Title = "دانشگاه ها";
    int counter = 1;

    ViewBag.url = $"uni/index";
    ViewBag.Des = $"لیست دانشگاه های موجود در سایت";
    string uni = "";
    foreach (var item in Model)
    {
        uni += item.Name;
        uni += ",";
    }
    ViewBag.keywords = uni;
}

<section class="container uni-list">
@foreach (var item in Model)
{
    <div class="row table-row">
        <div class="col-sm-1 text-center">@counter</div>
        <div class="col-sm-3 text-center">@item.Name</div>
        <div class="col-sm-3 text-center">واحد : @item.Vahed</div>
        <div class="col-sm-3 text-center">نوع :  @item.Type</div>
        <div class="col-sm-2 text-center"><a href="/f/@item.Name-@item.ID" class="btn-show-uni">نمایش</a></div>
    </div>
    counter++;  
}
  

</section>



