﻿@model University.Models.City

@{
    ViewBag.Title = "افزودن شهر";
}




<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/add.svg" alt="">
        <p> افزودن شهر</p>
    </div>

</header>




<section class="signin-body container-fluid">
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <p class="label-for-pamphlet margin-top-1em">نام شهر</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Name)
            </div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger form-validation" })

            <p class="label-for-pamphlet margin-top-1em">استان</p>
            <div class="edit-pamphlet">
            @Html.DropDownList("ProvinceID")
            </div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger form-validation" })





            <p class="w-100">
                <input type="submit" value="افزودن" class="edit-pamphlet-btn">
                @Html.ActionLink("بازگشت", "Index", null, new { @class = "go-back" })


                @*<a href="#" class="go-back">بازگشت</a>*@
            </p>

        }
    </div>
</section>