﻿@model University.Models.City

@{
    ViewBag.Title = "ویرایش";
}


<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/edit.svg" alt="">
        <p> ویرایش</p>
    </div>

</header>
<section class="signin-body container-fluid">
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ID)
            @Html.HiddenFor(x => x.Date_crt)
       
      
            <p class="label-for-pamphlet">نام</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { autofocus = "autofocus" } })
            </div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet margin-top-1em">استان</p>
            <div class="edit-pamphlet">
                @Html.DropDownList("ProvinceID")
            </div>
            @Html.ValidationMessageFor(model => model.ProvinceID, "", new { @class = "text-danger form-validation" })


            

            <p class="w-100">
                <input type="submit" value="ویرایش" class="edit-pamphlet-btn">
                @Html.ActionLink("بازگشت", "Index", null, new { @class = "go-back" })


            </p>
        }
    </div>
</section>
