﻿@model IEnumerable<University.Models.City>

@{
    ViewBag.Title = "لیست شهر ها";
}
<header class="publisher-header">
    <h1>@ViewBag.Title</h1>
</header>
<section class="publisher container-fluid margin-bottom-1em">

    <div class="row ">

        <div class="col-lg-3">
            <div class="filters">
                <div class="header-filters">فیلتر های جستجو</div>
                <input id="city-name" class="filter-btn" name="city-name" type="text" placeholder="نام شهر">
                @*<input id="course" class="filter-btn" name="course" type="text" placeholder="درس">
                    <input id="teacher" class="filter-btn" name="teacher" type="text" placeholder="استاد">
                    <input id="fild" class="filter-btn" name="fild" type="text" placeholder="رشته">*@
            </div>
        </div>
        <div class="col-lg-9">

            <div class="filters ">
                <div class="header-filters">لیست شهر های موجود در سایت</div>
                <div class="row margin-bottom-1em">
                    <div class="col-12 link-pub">
                        <a href="/admin/city/create" class="btn-add btn-publisher">
                            <img src="~/Images/layout/add-button-inside-black-circle.svg">
                            افزودن شهر
                        </a>
                    </div>
                </div>
                <div id="list-news">
                    @foreach (var item in Model)
                    {
                        <div class="pamphlet row">
                            <div class="col-sm-6  ">
                              
                                @item.Name 
                            </div>
                            <div class="col-sm-3">
                                @item.Date_crt.ToString("yyyy/MM/dd")
                            </div>
                            <div class="col-sm-3 border-right-pamphlet  ">
                                <div class="row padding-left-1-10 ">
                                    <a class=" col-sm-6 publisher-btn-edit publisher-border-left" href="/admin/city/edit/@item.ID">ویرایش</a>
                                    <a class=" col-sm-6 publisher-btn-delete" href="/admin/city/delete/@item.ID">حذف</a>
                                </div>
                            </div>

                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
