﻿
@{
    ViewBag.Title = "تایید پیامکی";
}

<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/verify.svg" alt="">
        <p>@ViewBag.Title</p>
    </div> 
</header> 

 
<section class="signin-body container-fluid">
    <div>
        @if (ViewBag.notfound != null)
        {
            <div class="alert alert-warning text-center">
                کاربری یافت نشد
            </div>
        }
        @if (ViewBag.EndTime == true)
        {
            <div class="alert alert-warning text-center">
                زمان به پایان رسیده است پیامکی حامل اطلاعات جدید برای شما ارسال شد
            </div>
        }
        @using (Html.BeginForm("approve", "account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="UserID" value="@TempData["UserID"]" />
            <div class="textbox-icon">
                <img src="~/Images/layout/mobile2.svg" style="height:1.5em" alt="">
                <input type="text" name="Code" class="text-center" placeholder="کد تایید">
            </div>
            <input type="submit" value="تایید" class="signin-submit">
        }
    </div>
</section>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
