﻿@model University.Models.ViewModel.changepassViewModel

@{
    ViewBag.Title = "تغییر کلمه عبور";
}


<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/signin.svg" alt="">
        <p>@ViewBag.Title</p> 
    </div>
</header>


<section class="signin-body container-fluid">
    <div>
        @if (ViewBag.notfound == null && ViewBag.expire == null && ViewBag.sms == null)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.ActiveCode)




                <div class="textbox-icon">
                    <img src="~/Images/layout/signup.svg" alt="">
                    @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { placeholder = "رمز عبور جدید " } })
                </div>
                @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger form-validation" })


                <div class="textbox-icon">
                    <img src="~/Images/layout/signin.svg" alt="">
                    @Html.EditorFor(model => model.RePass, new { htmlAttributes = new { placeholder = "تکرار رمز عبور جدید " } })
                </div>
                @Html.ValidationMessageFor(model => model.RePass, "", new { @class = "text-danger form-validation" })
               
             
                <input type="submit" value="تغییر کلمه عبور" class="signin-submit">
            }
        }
        @if (ViewBag.expire != null)
        {
            <div class="alert alert-warning text-center">زمان تعیین شده به اتمام رسیده است, لطفا مجددا تلاش فرمایید</div>
        }
        @if (ViewBag.notfound != null)
        {
            <div class="alert alert-warning text-center">کاربری یافت نشد</div>
        }
        @if (ViewBag.sms != null)
        {
            <div class="alert alert-warning text-center">کد اشتباه است</div>

        }
    </div>
</section>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}


