﻿@model University.Models.ViewModel.LoginViewModel
@{
    ViewBag.Title = "ورود";
    ViewBag.url = $"account/login";
    ViewBag.Des = $"ورود در وب سایت دانشگاه من | ثبت نام آسان";
    ViewBag.keywords = $"ثبت نام , ورود , sign in , sign up ";
}

@section scriptUp{

    <script src="https://www.google.com/recaptcha/api.js?hl=fa_IR" async defer></script>
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "Recipe",
        "name": "دانشگاه من - ورود",
        "image": "http://daneshgahe-man.ir/Images/layout/signin-logo.svg",
        "author": {
        "@@type": "Person",
        "name": "pejmanrad"
        },
        "datePublished": "2018-8-8",
        "description": " ورود در وب سایت دانشگاه من | ثبت نام آسان",
        "recipeCuisine": "Iran",
        "keywords": "ثبت نام , ورود , sign in , sign up",


        "aggregateRating": {
        "@@type": "AggregateRating",
        "ratingCount": "18",
        "ratingValue": "5"
        }
        }
    </script>
}
<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/signin-logo.svg" alt="">
        <p>ورود به پنل</p>
    </div>
</header>


<section class="signin-body container-fluid">
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            if (User.Identity.IsAuthenticated && Request.QueryString["ReturnUrl"] != null)
            {
                <div class="alert alert-warning text-center">دسترسی به بخش مورد نظر محدود است</div>
            }
            if (ViewBag.smsError != null)
            {
                <div class="alert alert-warning text-center">خطا @ViewBag.smsError در ارسال پیامک</div>
            }


            <div class="textbox-icon">
                <img src="~/Images/layout/mobile2.svg" style="height:1.8em;">
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { placeholder = "شماره همراه خود را وارد نمایید" } })
            </div>
            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger form-validation" })


            <div class="textbox-icon">
                <img src="~/Images/layout/locked.svg" alt="">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "رمز عبور خود را وارد نمایید" } })
            </div>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger form-validation" })

            if (Session["captcha"] != null)
            {
                <div class="margin-top-1em">
                    <div class="g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["sitekey"]"></div>
                    @Html.ValidationMessage("Captcha", "", new { @class = "text-danger form-validation" })
                </div>
            }


            <p class="margin-top-1em">
                <label>
                    @Html.EditorFor(model => model.Remember)
                    <span for="Remember">مرا به خاطر بسپار</span>
                </label>
                <a style="float:left;font-size: .8em" href="/account/RecoveryPass">فراموشی رمز عبور</a>
            </p>
                <input type="submit" value="ورود" class="signin-submit">
        }
        <p class="text-center font-size-8em margin-bottom-1em">
            هنوز عضو نیستی؟
            <a href="/account/register" class="text-success">همین حالا عضو شو!</a>
        </p>
        
    </div>
</section>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
