﻿@model University.Models.ViewModel.RecoveryPassViewModel

@{
    ViewBag.Title = "بازیابی رمز عبور";
}

<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/signin.svg" alt="">
        <p>بازیابی رمز</p>
    </div>
</header>

<section class="signin-body container-fluid">
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="textbox-icon">
                <img src="~/Images/layout/signup.svg" alt="">
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { placeholder = "شماره همراه خود را وارد نمایید" } })
            </div>
            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger form-validation" })

            <div class="margin-top-1em">
                <div class="g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["sitekey"]"></div>
                @Html.ValidationMessage("CaptchaInputText", "", new { @class = "text-danger form-validation" })
            </div>


          <input type="submit" value="ورود" class="signin-submit">
        }
    </div>
</section>

@section scriptUp{
    <script src="https://www.google.com/recaptcha/api.js?hl=fa_IR" async defer></script>
}
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

