﻿@model University.Models.ViewModel.RegisterViewModel

@{
    ViewBag.Title = "ثبت نام ";
    ViewBag.url = $"account/register";
    ViewBag.Des = $"ثبت نام در وب سایت دانشگاه من | ثبت نام آسان";
    ViewBag.keywords = $"ثبت نام , ورود , sign in , sign up ";
}
@section scriptUp{
<script src="https://www.google.com/recaptcha/api.js?hl=fa_IR" async defer></script>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "Recipe",
        "name": "دانشگاه من - ثبت نام",
        "image": "http://daneshgahe-man.ir/Images/layout/signup-logo.svg",
        "author": {
        "@@type": "Person",
        "name": "pejmanrad"
        },
        "datePublished": "2018-8-8",
        "description": " ورود در وب سایت دانشگاه من | ثبت نام آسان",
        "recipeCuisine": "Iran",
        "keywords": "ثبت نام , ورود , sign in , sign up",


        "aggregateRating": {
        "@@type": "AggregateRating",
        "ratingCount": "18",
        "ratingValue": "5"
        }
        }
    </script>
}
<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/signup-logo.svg" alt="">
        <p>ثبت نام</p>
    </div>

</header>
<section class="signin-body container-fluid">
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

                <div class="textbox-icon">
                    <img src="~/Images/layout/signup.svg" alt="">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "نام کامل خود را وارد نمایید" } })
                </div>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger form-validation" })
            <div class="textbox-icon">
                <img src="~/Images/layout/mobile2.svg" style="height:1.8em;" alt="">
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { placeholder = "شماره همراه خود را وارد نمایید" } })
            </div>
            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger form-validation" })
            <div class="textbox-icon">
                <img src="~/Images/layout/locked.svg" alt="">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "رمز عبور خود را وارد نمایید" } })
            </div>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger form-validation" })
         
            <div class="margin-top-1em">
                <div class="g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["sitekey"]"></div>
                @Html.ValidationMessage("CaptchaInputText", "", new { @class = "text-danger form-validation" })
            </div>    
          
            <input type="submit" value="ثبت نام" class="signup-submit">
            <p class="margin-top-1em">
                <label class="lable-text">
                    <input type="checkbox" name="podcast">
                    <span for="remember">ثبت نام در خبر نامه</span>
                </label>
                <br>
                <label class="lable-text">
                    <input type="checkbox" name="ruls">
                    <span for="ruls">با تمام قوانین موافق و آن ها را مطالعه نموده ام.</span>
                </label>
            </p>
        }
    </div>
</section>

@section scripts{
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    }
