﻿@model University.Models.ViewModel.sendsmsViewModel

@{
    ViewBag.Title = "تایید شماره همراه";
}

<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/verify.svg" alt="">
        <p>تایید شماره </p>
    </div>
</header>

<section class="signin-body container-fluid">
    <div>
        @using (Html.BeginForm("changepass", "account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="textbox-icon">
                <img src="~/Images/layout/mobile2.svg" style="height:1.5em;" alt="">
                @Html.EditorFor(model => model.sms, new { htmlAttributes = new { placeholder = "کد تاییده شماره همراه" } })
            </div>
            @Html.ValidationMessageFor(model => model.sms, "", new { @class = "text-danger form-validation" })
            <input type="submit" value="تایید" class="signin-submit">
        }
    </div>
</section>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

