﻿@model IEnumerable<University.Models.News>
@{
    ViewBag.Title = "اخرین اخبار دانشگاه ها";

    ViewBag.url = $"khabar";
    ViewBag.Des = $"لیست خبر های به روز دانشگاه های کشور";
    ViewBag.keywords = $"خبر , خبر های به روز دانشگاه ها , اخبار روز , دانشگاه آزاد , دانشگاه دولتی , دانشگاه پیام نور";
}

    <section class="news-list container">
        <div class="row">
@foreach (var item in Model)
{
            <div class="col-sm-3">
                <div class="card">
                    <img src="~/Images/news/@item.Image" alt="@item.Title">
                    <div class="card-title">
                        @item.Title
                    </div>
                    <div class="vahed">@item.University.Type</div>
                    <div class="blue-line"></div>
                 
                    <div class="text-center  margin-top-1em">
                        <a href="/n/@item.ID/@item.Title.Replace(" ","-").Replace(".","-").Replace("/","-")" class="btn-show-news">نمایش</a>
                    </div>
                </div>
            </div>

}
          
        </div>
    </section>
   
