﻿@if (ViewBag.notfound != null)
{
    {
        ViewBag.Title = "خبری یافت نشد";
    }
    <div class="alert alert-warning text-center">خبری یافت نشد</div>
}
else
{
    string keyword = "";
    @model University.Models.News
    {
        ViewBag.Title = Model.Title;
        ViewBag.url = $"n/{Model.ID}/{Model.Title}";
        ViewBag.date = Model.DateCrt.ToShortDateString();
        ViewBag.Des = $"{Model.Title}";

        foreach (var item in Model.Tags.Split('-'))
        {
            keyword += item;
            keyword += ",";

        }
        ViewBag.keywords = keyword;
    }
    @section scriptUp{
        <script type="application/ld+json">
            {
            "@@context": "http://schema.org/",
            "@@type": "Recipe",
            "name": "@Model.Title",
            "image": "http://daneshgahe-man.ir/Images/news/@Model.Image",
            "author": {
            "@@type": "Person",
            "name": "pejmanrad"
            },
            "datePublished": "@Model.DateCrt",
            "description": " @Model.ShortDescription",
            "recipeCuisine": "Iran",
            "keywords": "@keyword",


            "aggregateRating": {
            "@@type": "AggregateRating",
            "ratingCount": "18",
            "ratingValue": "5"
            }
            }
        </script>
    }

    <header class="publisher-header">
        <h1>@Model.University.Name</h1>

    </header>
    <section class="container news">
        <div class="row margin-bottom-1em">
            <div class="col-lg-10">
                <p class="news-date">
                    <img src="~/Images/layout/clock-circular-outline.svg" alt="">
                    @Model.DateCrt.ToString("yyyy/MM/dd")
                </p>
                <p class="title-news">@Model.Title</p>
                <p class="short-news">
                    @Model.ShortDescription
                </p>
                <img src="~/Images/news/@Model.Image" class="img-news" alt="@Model.Title">
                <p class="text-news">
                    @Model.Description
                </p>
                <div class="tags margin-bottom-1em">
                    @foreach (var item in Model.Tags.Split('-'))
                    {

                        <span># @item</span>
                    }
                </div>
                <div class="row margin-top-1em">
                    <div class="col-lg-6 share-news">
                        <a id="like" class="like">
                            <span style="font-size:.6em;color:#595959">@Model.Like</span>

                            <svg viewBox="0 -28 512.001 512" xmlns="http://www.w3.org/2000/svg">

                                <path d="m256 455.515625c-7.289062 0-14.316406-2.640625-19.792969-7.4375-20.683593-18.085937-40.625-35.082031-58.21875-50.074219l-.089843-.078125c-51.582032-43.957031-96.125-81.917969-127.117188-119.3125-34.644531-41.804687-50.78125-81.441406-50.78125-124.742187 0-42.070313 14.425781-80.882813 40.617188-109.292969 26.503906-28.746094 62.871093-44.578125 102.414062-44.578125 29.554688 0 56.621094 9.34375 80.445312 27.769531 12.023438 9.300781 22.921876 20.683594 32.523438 33.960938 9.605469-13.277344 20.5-24.660157 32.527344-33.960938 23.824218-18.425781 50.890625-27.769531 80.445312-27.769531 39.539063 0 75.910156 15.832031 102.414063 44.578125 26.191406 28.410156 40.613281 67.222656 40.613281 109.292969 0 43.300781-16.132812 82.9375-50.777344 124.738281-30.992187 37.398437-75.53125 75.355469-127.105468 119.308594-17.625 15.015625-37.597657 32.039062-58.328126 50.167969-5.472656 4.789062-12.503906 7.429687-19.789062 7.429687zm-112.96875-425.523437c-31.066406 0-59.605469 12.398437-80.367188 34.914062-21.070312 22.855469-32.675781 54.449219-32.675781 88.964844 0 36.417968 13.535157 68.988281 43.882813 105.605468 29.332031 35.394532 72.960937 72.574219 123.476562 115.625l.09375.078126c17.660156 15.050781 37.679688 32.113281 58.515625 50.332031 20.960938-18.253907 41.011719-35.34375 58.707031-50.417969 50.511719-43.050781 94.136719-80.222656 123.46875-115.617188 30.34375-36.617187 43.878907-69.1875 43.878907-105.605468 0-34.515625-11.605469-66.109375-32.675781-88.964844-20.757813-22.515625-49.300782-34.914062-80.363282-34.914062-22.757812 0-43.652344 7.234374-62.101562 21.5-16.441406 12.71875-27.894532 28.796874-34.609375 40.046874-3.453125 5.785157-9.53125 9.238282-16.261719 9.238282s-12.808594-3.453125-16.261719-9.238282c-6.710937-11.25-18.164062-27.328124-34.609375-40.046874-18.449218-14.265626-39.34375-21.5-62.097656-21.5zm0 0" />

                            </svg>
                        </a>
                        <a href="#comment">

                            <img src="~/Images/layout/comment-white-oval-bubble.svg" alt="">
                        </a>
                        <a>
                            <img src="~/Images/layout/telegram-logo.svg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6 rank-news">
                        @if (Model.NewsRate.Any())
                        {
                            <span >
                           5 از         @Math.Round(Model.NewsRate.Average(x => x.rate), 1)                             </span>
  
                        }

                        <svg id="stare5" class="stare-1" viewBox="0 0 50 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="s5" transform="translate(-144.000000, -34.000000)" fill-rule="nonzero" stroke="#7B7B7B" stroke-width="2">
                                    <path d="M171.317407,36.4440659 L176.731199,47.4367258 C177.107672,48.2012755 177.835585,48.7310423 178.677641,48.8534505 L190.783829,50.6163296 C192.904489,50.9253602 193.750551,53.5360668 192.216627,55.0340625 L183.456637,63.5905981 C182.847873,64.1855823 182.569524,65.0434432 182.713705,65.8832439 L184.781298,77.9655377 C185.143753,80.0815946 182.926972,81.6949752 181.030593,80.6966458 L170.203009,74.9926232 C169.450065,74.5963015 168.549935,74.5963015 167.796991,74.9926232 L156.969407,80.6966458 C155.073028,81.6959785 152.856247,80.0815946 153.218702,77.9655377 L155.286295,65.8832439 C155.430476,65.0434432 155.152127,64.1855823 154.543363,63.5905981 L145.783373,55.0340625 C144.249449,53.5350634 145.095511,50.9243569 147.216171,50.6163296 L159.322359,48.8534505 C160.164415,48.7310423 160.892328,48.2012755 161.268801,47.4367258 L166.682593,36.4440659 C167.629781,34.5186447 170.369218,34.5186447 171.317407,36.4440659 Z" id="Shape"></path>
                                </g>
                            </g>
                        </svg>
                        <svg id="stare4" class="stare-1" viewBox="0 0 50 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="s4" transform="translate(-144.000000, -34.000000)" fill-rule="nonzero" stroke="#7B7B7B" stroke-width="2">
                                    <path d="M171.317407,36.4440659 L176.731199,47.4367258 C177.107672,48.2012755 177.835585,48.7310423 178.677641,48.8534505 L190.783829,50.6163296 C192.904489,50.9253602 193.750551,53.5360668 192.216627,55.0340625 L183.456637,63.5905981 C182.847873,64.1855823 182.569524,65.0434432 182.713705,65.8832439 L184.781298,77.9655377 C185.143753,80.0815946 182.926972,81.6949752 181.030593,80.6966458 L170.203009,74.9926232 C169.450065,74.5963015 168.549935,74.5963015 167.796991,74.9926232 L156.969407,80.6966458 C155.073028,81.6959785 152.856247,80.0815946 153.218702,77.9655377 L155.286295,65.8832439 C155.430476,65.0434432 155.152127,64.1855823 154.543363,63.5905981 L145.783373,55.0340625 C144.249449,53.5350634 145.095511,50.9243569 147.216171,50.6163296 L159.322359,48.8534505 C160.164415,48.7310423 160.892328,48.2012755 161.268801,47.4367258 L166.682593,36.4440659 C167.629781,34.5186447 170.369218,34.5186447 171.317407,36.4440659 Z" id="Shape"></path>
                                </g>
                            </g>
                        </svg>
                        <svg id="stare3" class="stare-1" viewBox="0 0 50 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="s3" transform="translate(-144.000000, -34.000000)" fill-rule="nonzero" stroke="#7B7B7B" stroke-width="2">
                                    <path d="M171.317407,36.4440659 L176.731199,47.4367258 C177.107672,48.2012755 177.835585,48.7310423 178.677641,48.8534505 L190.783829,50.6163296 C192.904489,50.9253602 193.750551,53.5360668 192.216627,55.0340625 L183.456637,63.5905981 C182.847873,64.1855823 182.569524,65.0434432 182.713705,65.8832439 L184.781298,77.9655377 C185.143753,80.0815946 182.926972,81.6949752 181.030593,80.6966458 L170.203009,74.9926232 C169.450065,74.5963015 168.549935,74.5963015 167.796991,74.9926232 L156.969407,80.6966458 C155.073028,81.6959785 152.856247,80.0815946 153.218702,77.9655377 L155.286295,65.8832439 C155.430476,65.0434432 155.152127,64.1855823 154.543363,63.5905981 L145.783373,55.0340625 C144.249449,53.5350634 145.095511,50.9243569 147.216171,50.6163296 L159.322359,48.8534505 C160.164415,48.7310423 160.892328,48.2012755 161.268801,47.4367258 L166.682593,36.4440659 C167.629781,34.5186447 170.369218,34.5186447 171.317407,36.4440659 Z" id="Shape"></path>
                                </g>
                            </g>
                        </svg>

                        <svg id="stare2" class="stare-1" viewBox="0 0 50 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="s2" transform="translate(-144.000000, -34.000000)" fill-rule="nonzero" stroke="#7B7B7B" stroke-width="2">
                                    <path d="M171.317407,36.4440659 L176.731199,47.4367258 C177.107672,48.2012755 177.835585,48.7310423 178.677641,48.8534505 L190.783829,50.6163296 C192.904489,50.9253602 193.750551,53.5360668 192.216627,55.0340625 L183.456637,63.5905981 C182.847873,64.1855823 182.569524,65.0434432 182.713705,65.8832439 L184.781298,77.9655377 C185.143753,80.0815946 182.926972,81.6949752 181.030593,80.6966458 L170.203009,74.9926232 C169.450065,74.5963015 168.549935,74.5963015 167.796991,74.9926232 L156.969407,80.6966458 C155.073028,81.6959785 152.856247,80.0815946 153.218702,77.9655377 L155.286295,65.8832439 C155.430476,65.0434432 155.152127,64.1855823 154.543363,63.5905981 L145.783373,55.0340625 C144.249449,53.5350634 145.095511,50.9243569 147.216171,50.6163296 L159.322359,48.8534505 C160.164415,48.7310423 160.892328,48.2012755 161.268801,47.4367258 L166.682593,36.4440659 C167.629781,34.5186447 170.369218,34.5186447 171.317407,36.4440659 Z" id="Shape"></path>
                                </g>
                            </g>
                        </svg>
                        <svg id="stare1" newsID="11" class="stare-1" viewBox="0 0 50 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="s1" transform="translate(-144.000000, -34.000000)" fill-rule="nonzero" stroke="#7B7B7B" stroke-width="2">
                                    <path d="M171.317407,36.4440659 L176.731199,47.4367258 C177.107672,48.2012755 177.835585,48.7310423 178.677641,48.8534505 L190.783829,50.6163296 C192.904489,50.9253602 193.750551,53.5360668 192.216627,55.0340625 L183.456637,63.5905981 C182.847873,64.1855823 182.569524,65.0434432 182.713705,65.8832439 L184.781298,77.9655377 C185.143753,80.0815946 182.926972,81.6949752 181.030593,80.6966458 L170.203009,74.9926232 C169.450065,74.5963015 168.549935,74.5963015 167.796991,74.9926232 L156.969407,80.6966458 C155.073028,81.6959785 152.856247,80.0815946 153.218702,77.9655377 L155.286295,65.8832439 C155.430476,65.0434432 155.152127,64.1855823 154.543363,63.5905981 L145.783373,55.0340625 C144.249449,53.5350634 145.095511,50.9243569 147.216171,50.6163296 L159.322359,48.8534505 C160.164415,48.7310423 160.892328,48.2012755 161.268801,47.4367258 L166.682593,36.4440659 C167.629781,34.5186447 170.369218,34.5186447 171.317407,36.4440659 Z" if="Shape"></path>
                                </g>
                            </g>
                        </svg>

                    </div>
                </div>
                @*<div class="writer-news row">
                        <div class="col-lg-2">
                            <img src="image/pejman.JPG" alt="">
                        </div>
                        <div class="col-lg-10">
                            <h2> <span>نویسنده :</span> پژمان رحیمی راد</h2>
                            <p>این خبر توسط پژمان راد نوشته شده است</p>
                        </div>
                    </div>*@
            </div>
            <aside class="col-lg-2"></aside>
        </div>
    </section>
    @Html.HiddenFor(x => x.ID)

    if (!User.Identity.IsAuthenticated)
    {
        <div class="alert container alert-warning text-center">
            برای ارسال دیدگاه خود
            <a href="/account/login">وارد</a>
            شوید.
        </div>
    }
    @Html.Action("showComments")

}


@section scripts{
    <script>
        $(document).ready(function () {
            $("#like").click(function () {
                var ID = $("#ID").val();
                $("#like").css('fill', 'red')
                $("#like").children("svg").css("opacity", 1)
                $("#like").removeAttr("id")
                $.ajax({
                    url: '/news/like/',
                    data: { id: ID },
                    type: 'get',
                    success: function (res) {
                    }
                })

            })

            $('#stare1').hover(function () {
                $("#s1").attr('fill', '#FAC917')
            }).mouseleave(function () {
                $("#s1").removeAttr('fill')
            }).click(function () {
                var ID = $("#ID").val();
                $.ajax({
                    url: '/news/rate/',
                    data: { id: ID, r: 1 },
                    type: 'get',
                    success: function (res) {
                        if (res == 0) {
                            alert("قبلا نظرتان ثبت شده است")
                        } else {
                            alert("با موفقیت ثبت گردید")

                        }
                    }
                })
            })

            $('#stare2').hover(function () {
                $("#s1 ,#s2").attr('fill', '#FAC917')
            }).mouseleave(function () {
                $("#s1 , #s2").removeAttr('fill')
            }).click(function () {
                var ID = $("#ID").val();
                $.ajax({
                    url: '/news/rate/',
                    data: { id: ID, r: 2 },
                    type: 'get',
                    success: function (res) {
                        if (res == 0) {
                            alert("قبلا نظرتان ثبت شده است")
                        } else {
                            alert("با موفقیت ثبت گردید")

                        }
                    }
                })
            })

            $('#stare3').hover(function () {
                $("#s1 ,#s2 ,#s3").attr('fill', '#FAC917')
            }).mouseleave(function () {
                $("#s1 , #s2 ,#s3").removeAttr('fill')

            }).click(function () {
                var ID = $("#ID").val();
                $.ajax({
                    url: '/news/rate/',
                    data: { id: ID, r: 3 },
                    type: 'get',
                    success: function (res) {
                        if (res == 0) {
                            alert("قبلا نظرتان ثبت شده است")
                        } else {
                            alert("با موفقیت ثبت گردید")

                        }
                    }
                })
            })
            $('#stare4').hover(function () {
                $("#s1 ,#s2,#s3,#s4").attr('fill', '#FAC917')
            }).mouseleave(function () {
                $("#s1 , #s2,#s3,#s4").removeAttr('fill')
            }).click(function () {
                var ID = $("#ID").val();
                $.ajax({
                    url: '/news/rate/',
                    data: { id: ID, r: 4 },
                    type: 'get',
                    success: function (res) {
                        if (res == 0) {
                            alert("قبلا نظرتان ثبت شده است")
                        } else {
                            alert("با موفقیت ثبت گردید")

                        }
                    }
                })
            })
            $('#stare5').hover(function () {
                $("#s1 ,#s2 ,#s3 ,#s4,#s5").attr('fill', '#FAC917')
            }).mouseleave(function () {
                $("#s1 , #s2 ,#s3,#s4 ,#s5").removeAttr('fill')

            }).click(function () {
                var ID = $("#ID").val();
                $.ajax({
                    url: '/news/rate/',
                    data: { id: ID, r: 5 },
                    type: 'get',
                    success: function (res) {
                        if (res == 0) {
                            alert("قبلا نظرتان ثبت شده است")
                        } else {
                            alert("با موفقیت ثبت گردید")

                        }
                    }
                })
            })

        })

    </script>}
