﻿@model IEnumerable<University.Models.NewsComment>



<section id="comment" class="comment container margin-bottom-1em">
    <div class="padding-lr-4em">
        @Html.Action("createComment")
        @foreach (var item in Model)
        {
            <div class="row margin-top-1em">
                <div class="col-sm-2 col-lg-1">
                    @if (item.User.Picture != null && User.Identity.IsAuthenticated)
                    {
                        <img src="~/Images/userImage/small/@item.User.Picture">

                    }
                    else
                    {
                        <img  class="comment-img" src="~/Images/layout/user-2.svg" alt="">
                    }
                </div>
                <div class="col-sm-10 col-lg-11">
                    <h3 class="Name-comment">
                        @item.User.Name
                    </h3>
                    <p class="comment-info">
                        نوشته شده در تاریخ @item.Date.ToString("yyyy/MM/dd")
                    </p>
                    <p class="comment-text">
                        @item.Text
                    </p>
                    @*<div class="replay-comment">
                            <a href="">پاسخ</a>
                            <div class="row">
                                <span class="comment-img text-left">
                                    <img src="image/user-2.svg" alt="">
                                </span>
                                <input type="text" name="" class=" comment-textbox" id="" placeholder="نوشتن پاسخ..." class="">
                                <input type="submit" class=" comment-btn-submit" value="ارسال">
                            </div>

                        </div>
                        <div class="replays margin-top-1em">

                            <div class="row">
                                <div class="col-lg-1 col-sm-2">
                                    <img src="image/user-2.svg" alt="" class="comment-img">
                                </div>
                                <div class="col-lg-11 col-sm-10">
                                    <h3 class="Name-comment">
                                        پژمان راد
                                    </h3>
                                    <p class="comment-info">
                                        نوشته شده در تاریخ 1397-7-7
                                    </p>
                                    <p class="comment-text">
                                        من از این اخبار خبر داشته ام
                                    </p>

                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        }
    </div>
</section>