﻿@model University.Models.ViewModel.ChangePassword

@{
    Layout = "";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-title">
        تغییر رمز عبور
    </div>
    <p class="label-for-pamphlet">رمز عبور قبلی</p>
    <div class="changepass-icon">
        <img src="~/Images/layout/locked.svg" alt="">
        @Html.EditorFor(model => model.OldPass, new { htmlAttributes = new { placeholder = "رمز عبور قبل خود را وارد نمایید" } })
    </div>
    @Html.ValidationMessageFor(model => model.OldPass, "", new { @class = "text-danger form-validation" })

    <p class="label-for-pamphlet margin-top-1em">رمز عبور جدید</p>
    <div class="changepass-icon">
        <img src="~/Images/layout/locked.svg" alt="">
        @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { placeholder = "رمز عبور جدید خود را وارد نمایید" } })
    </div>
    @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger form-validation" })

    <p class="label-for-pamphlet margin-top-1em">تکرار رمز عبور جدید</p>
    <div class="changepass-icon">
        <img src="~/Images/layout/locked.svg" alt="">

        @Html.EditorFor(model => model.RePass, new { htmlAttributes = new { placeholder = "رمز عبور جدید را تکرار کنید" } })
    </div>
    @Html.ValidationMessageFor(model => model.RePass    , "", new { @class = "text-danger form-validation" })

    <input type="button"  onclick="changepassword()" value="تغییر رمز عبور" class="signup-submit">
}

@section Scripts {<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

}
