﻿@model IEnumerable<University.Models.Order>
@{
    ViewBag.Title = "سفارشات من";
}


<section class=" container margin-top-1em margin-bottom-1em">
    <div class="row">
        <div class="col-lg-3">
            @Html.Action("UserProfile")
            @Html.Action("UserProfileChange")
        </div>
        <div class="col-lg-9">
            <div class="header-text-profile">
                لیست سفارشات
            </div>
            <div class="profile-content">
                <div class="listdiv">
                    <div class="row margin-bottom-1em">
                        <div class="col-12 link-pub">
                            <a href="/user/newss/add" class="btn-add btn-publisher">
                                <img src="~/Images/layout/add-button-inside-black-circle.svg" alt="" srcset="">
                                افزودن خبر

                            </a>

                            
                            <a href="/user/newss" class="btn-publisher">
                                خبر های من
                            </a>
                        </div>
                    </div>
                    <div id="list-pamphlets">
                        @if (Model.Count() != 0)
                        {
                            foreach (var item in Model)
                            {
                                <div class="pamphlet row">

                                    <div class="col-sm-2 padding-0 code-pamphlet">
                                        <span style="margin-left:2em;">
                                            <img src="~/Images/layout/file.svg" class="icon-pamphlet padding-left-0" alt="">
                                        </span>
                                        <span class=" padding-0"> کد:@item.Pamphlet.Code</span>


                                    </div>
                                    <div class="col-sm-5 border-right-pamphlet">
                                        <span>
                                            @item.Pamphlet.Course
                                        </span>
                                    </div>
                                    <div class="col-sm-5 border-right-pamphlet  ">
                                        <div class="row padding-left-1-10">
                                            <span class="col-6">@item.Pamphlet.Professor</span>
                                            @if (item.Step == 1)
                                            {
                                                <a class=" col-6 waiting-btn" href="">در  صف انتظار!</a>

                                            }
                                            else if (item.Step == 2)
                                            {
                                                <a class=" col-6 working-btn" href="">در حال چاپ!</a>

                                            }
                                            else if (true)
                                            {


                                                <a class=" col-6 ready-btn" href="">آماده تحویل !</a>
                                            }
                                        </div>
                                    </div>

                                </div>

                            }

                        }
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>

<div id="Pamphlet-Modal">
    <div id="modal-content-change">
        <a id="closeModal" class="closeModal">&times;</a><br>
        <div id="modal-body">

        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#file").change(function () {
                $("#form-pic").submit();
            })
        })
    </script>
}