﻿@model IEnumerable<University.Models.Order>
@{
    ViewBag.Title = "سفارشات من";
}


<div id="list_doc" class="col-sm-12 col-md-12 col-lg-12 ">
    <p style="border-bottom:1px solid gray ;font-size:1.2em;margin-bottom:5px;">لیست سفارشات</p>
    <div id="content_List">
        @if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                <div class="doc ">
                    <p class="row">
                        <span class="col-sm-12 col-md-6 col-lg-3">کد : @item.Pamphlet.Code</span>
                        <span class="col-sm-12 col-md-6 col-lg-3"> @item.Pamphlet.Course</span>
                        <span class="col-sm-12 col-md-6 col-lg-3">@item.Pamphlet.Professor </span>
                        <span class="col-sm-12 col-md-6 col-lg-3">
                            @if (item.Step == 1)
                            {
                                <button class="btn btn-warning btn-sm ">در  صف انتظار !</button>

                            }
                            else if (item.Step == 2)
                            {
                                <button class="btn btn-info btn-sm ">در حال چاپ!</button>

                            }
                            else if (true)
                            {
                                <button class="btn btn-success btn-sm ">اماده ی تحویل!</button>

                            }
                            </span>
                </div>
            }
        }
    </div>
</div>