﻿@model University.Models.User


<div class="profile-content">
    <div class="header-text-profile">
        <form id="form-pic" action="/user/default/changepic" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <label class="file-label" for="file">
                @if (Model.Picture != null)
                {
                    <img src="~/Images/userImage/small/@Model.Picture" class="profile-img-edit" alt="@Model.Name">

                }
                else
                {

                <img src="~/Images/layout/user-2.svg" class="profile-img-edit" alt=""/>
                }
                <div class="pencil">
                    <img src="~/Images/layout/pencil-edit-button.svg" alt="">
                </div>
            </label>
            <input id="file" type="file" name="file"value="" style="opacity:0;z-index:-111;">
            
        </form>

    </div>

    <div class="user-info margin-top-1em">
        <h1>
           @Model.Name
        </h1>
        <div class="row">
        
            <div class="col-12 profile-text text-center"> 
                <img src="~/Images/layout/download-from-cloud.svg" alt="Alternate Text" />
            تعداد سفارش ها : @Model.Order.Count()</div>

            @if (ViewBag.credit != null)
            {
                <p class="col-12 profile-text text-center">اعتبار شما : @ViewBag.credit</p>
            }
        </div>
        <div class="row margin-0 padding-0">
            <a id="changepassword" class="col-6 btn-profile">
                <img src="~/Images/layout/locked.svg" alt="" srcset="">
                <span>تغییر رمز</span>
            </a>
            <a href="/account/logout" class="col-6 btn-profile profile-border-right">
                <img src="~/Images/layout/signup.svg" alt="" srcset="">

                <span>خروج از حساب</span>
            </a>
        </div>
    </div>
</div>
