﻿@model University.Models.ViewModel.UserProfileViewModel

@{
    Layout = "";
}

<div class="margin-top-1em profile-content">
    <div class="profile-info">ویرایش اطلاعات کاربری</div>
    <div class="col-12">
      
        <form action="/user/default/UserProfileChange" method="post">
            @Html.AntiForgeryToken()
            <p class="label-for-pamphlet">نام و نام خانوادگی</p>
            <div class="profile-input">
                @Html.EditorFor(model => model.Name)
            </div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger form-validation" })



            <p class="label-for-pamphlet">شهر</p>
            <div class="profile-input">
                @Html.EditorFor(model => model.city)
            </div>
            @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet">نام دانشگاه</p>
            <div class="profile-input">
                @Html.EditorFor(model => model.University)
            </div>
            @Html.ValidationMessageFor(model => model.University, "", new { @class = "text-danger form-validation" })





            <p class="label-for-pamphlet">رشته</p>
            <div class="profile-input">
                @Html.EditorFor(model => model.Fild)
            </div>
            @Html.ValidationMessageFor(model => model.University, "", new { @class = "text-danger form-validation" })






            <p class="label-for-pamphlet">ایمیل</p>
            <div class="profile-input">
                @Html.EditorFor(model => model.Email)
            </div>
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger form-validation" })
        
            <input type="submit" value="ذخیره" class="signup-submit">

        </form>
        <br>
    </div>
</div>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
