﻿@model University.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DownloadCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DownloadCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cookie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cookie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmsDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmsDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.RoleTItle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.RoleTItle)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
