﻿@model University.Models.User

@{
    ViewBag.Title = "ویرایش کاربر";
}


<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/edit.svg" alt="">
        <p> @ViewBag.Title</p>
    </div>

</header>
<section class="signin-body container-fluid">
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ID)
            @Html.HiddenFor(x => x.DateReg)
            @Html.HiddenFor(x => x.Picture)
            @Html.HiddenFor(x => x.Sms)
            @Html.HiddenFor(x => x.SmsDate)
            @Html.HiddenFor(x => x.Approved)
            @Html.HiddenFor(x => x.Cookie)
            @Html.HiddenFor(x => x.DownloadCount)
            @Html.HiddenFor(x => x.SerialMobile)


            <p class="label-for-pamphlet">نام</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Name)
            </div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger form-validation" })

            <p class="label-for-pamphlet">شهر</p>
                <div class="edit-pamphlet">
                    @Html.EditorFor(model => model.City)
                </div>
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger form-validation" })

            <p class="label-for-pamphlet">دانشگاه</p>
                <div class="edit-pamphlet">
                    @Html.EditorFor(model => model.UniName)
                </div>
                @Html.ValidationMessageFor(model => model.UniName, "", new { @class = "text-danger form-validation" })


            <p class="label-for-pamphlet">ایمیل</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Email)
            </div>
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger form-validation" })

            <p class="label-for-pamphlet">موبایل</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Mobile)
            </div>
            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet">وضعیت</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Status)
            </div>
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger form-validation" })

            <p class="label-for-pamphlet">تعداد ورود</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.loginCount)
            </div>
                @Html.ValidationMessageFor(model => model.loginCount, "", new { @class = "text-danger form-validation" })


            <p class="label-for-pamphlet">اعتبار</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Credit)
            </div>
            @Html.ValidationMessageFor(model => model.Credit, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet">IP</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.IpAddress)
            </div>
            @Html.ValidationMessageFor(model => model.IpAddress, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet margin-top-1em">نقش</p>
            <div class="edit-pamphlet">
                @Html.DropDownList("RoleID")
            </div>
            @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger form-validation" })


            <p class="label-for-pamphlet">کلمه عبور</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Password)
            </div>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger form-validation" })



            <p class="w-100">
                <input type="submit" value="ویرایش" class="edit-pamphlet-btn">
                @Html.ActionLink("بازگشت", "Index", null, new { @class = "go-back" })


            </p>
        }
    </div>
</section>

