﻿

@{
    ViewBag.Title = "لیست کابرها ";
}


<header class="publisher-header">
    <h1>@ViewBag.Title</h1>
</header>
<section class="publisher container-fluid margin-bottom-1em">

    <div class="row ">

        <div class="col-lg-3">
            <div class="filters">
                <div class="header-filters">فیلتر های جستجو</div>
                <input id="txt-search" class="filter-btn" name="search-text" type="text" placeholder="جستجو در همه فیلد ها">
              
            </div>
        </div>
        <div class="col-lg-9">

            <div class="filters ">
                <div class="header-filters">لیست کاربر های موجود در سایت</div>
                <div class="row margin-bottom-1em">
               
                </div>
                <div id="list-user">
                
                    @Html.Action("UserList")
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#txt-search").keyup(function () {
                var text = $(this).val();
                $.ajax({
                    url: '/admin/users/advsearch/',
                    data: { Text: text },
                    type: 'get',
                    success: function (res) {
                        $("#list-user").html(res)
                    }
                })
            })

        })
    </script>
    }