﻿@model University.Models.Professor

@{
    ViewBag.Title = "افزودن";
}


<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/add.svg" alt="">
        <p> افزودن استاد</p>
    </div>

</header>




<section class="signin-body container-fluid">
    <div>
        @using (Html.BeginForm("create", "professors", FormMethod.Post, new { area = "university", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

 
            <p class="label-for-pamphlet">نام</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { autofocus = "autofocus" } })
            </div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet margin-top-1em">توضیح کوتاه</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Description)
            </div>
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger form-validation" })
            

            <p class="label-for-pamphlet margin-top-1em">تصویر</p>
            <div class="edit-pamphlet" id="image-div">
                <label for="Image" class="file-label">آپلود فایل...</label>
                <input type="file" name="Image" id="Image" value="">
            </div>
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger form-validation" })

            <p class="label-for-pamphlet margin-top-1em">دانشگاه های محل خدمت</p>
            <div class="edit-pamphlet" id="image-div">
                <select multiple name="uni">
                    @foreach (var item in ViewBag.uni as List<University.Models.University>)
                    {

                    <option value="@item.ID ">@item.Name</option>
                    }
                </select>
            </div>

            <p class="w-100">
                <input type="submit" value="افزودن" class="edit-pamphlet-btn">
                @Html.ActionLink("بازگشت", "Index", null, new { @class = "go-back" })


                @*<a href="#" class="go-back">بازگشت</a>*@
            </p>

        }
    </div>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#Image").change(function () {
                $(this).parent().find("label").text("فایل پیوست شد");
                $("#image-div").css("background-color","#d4edda")
            })
        })
    </script>
}
