﻿@model University.Models.Professor

@{
    ViewBag.Title = "حذف";
}

<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/cancel.svg" alt="">
        <p> حذف</p>
    </div>

</header>
<section class="signin-body container-fluid">
    <div>
        <div class="alert alert-warning text-center">
            از حذف این مورد مطمئن هستید؟
        </div>
        <p class="modal-text-order"> <span>@Model.Name</span></p>
        <p class="text-center margin-top-1em">
            <img src="~/Images/professor/@Model.Image" style="max-width:80%; border-radius:5px" />
        </p>
        <form action="/university/professors/delete" method="post">


            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ID)

            <input type="submit" value="حذف" class="btn btn-block btn-danger margin-top-1em" />
        </form>
    </div>
</section>
