﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("scriptUp", required: false)


    <link rel="shortcut icon" type="image/x-icon" href="~/Images/layout/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/layout/favicon.ico" />
</head>
<body>
    @*menu*@
    @Html.Action("menu", "home", new { area = "" })
    <div class="main-content">
        @RenderBody()
    </div>
    <footer class="footer container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    تمامی حقوق این وبگاه متعلق به مجموعه ی دانشگاه من می باشد.
                </div>
                <div class="col-lg-6 footer-link">
                    <a href="#"><img src="~/Images/layout/facebook-logo.svg" alt=""></a>
                    <a href="#"><img src="~/Images/layout/linked-in-logo.svg" alt=""></a>
                    <a href="#"><img src="~/Images/layout/twitter-logo-silhouette.svg" alt=""></a>
                    <a href="#"><img src="~/Images/layout/instagram.svg" alt=""></a>
                </div>
            </div>
        </div>
    </footer>

        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
            $(document).ready(function () {
                $("#closeMobile").click(function () {
                    $("#mobile-menu").fadeOut(300);
                })
                $("#mobile-icon").click(function () {
                    $("#mobile-menu").fadeIn(500);

                })
                $("# mobile-user-name").click(function () {
                    $("#mobile-account-link").fadeIn(500);

                })

            })
    </script>
   
</body>
</html>
