﻿<!DOCTYPE html>
<html lang="fa">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="farsi" />
    <meta name="robots" content="index, follow" />
    <meta name="DC.Title" content="@ViewBag.Title | دانشگاه من" />
    <meta name="og:title" content="@ViewBag.Title | دانشگاه من" />
    <meta name="DC.Language" content="fa" />
    <meta name="DC.Publisher" content="دانشگاه من - جستجوی جزوه های دانشگاهی" />
    <meta name="og:site_name" content="دانشگاه من - جستجوی جزوه های دانشگاهی" />
    <meta name="publisher" content="دانشگاه من -جستجوی جزوه های دانشگاهی" />
    <meta name="copyright" content="© 2018 دانشگاه من" />
    <meta name="author" content="دانشگاه من" />
    <meta name="og:article:author" content="دانشگاه من" />
    <meta name="og:locale" content="fa_IR" />
    <meta content="دانشگاه من - جستجوی جزوهای دانشگاهی" itemprop="name" />
    @if (ViewBag.url != null)
    {
        <meta name="og:url" content="http://daneshahe-man.ir/@ViewBag.url" />
        <meta name="DC.Identifier" content="http://daneshahe-man.ir/@ViewBag.url" />
    }
    @if (ViewBag.date != null)
    {
        <meta name="DC.Date.Created" content="@ViewBag.date" />
    }
    @if (ViewBag.Des != null)
    {
        <meta name="DC.Description" content="@ViewBag.Des" />
        <meta name="og:description" content="@ViewBag.Des" />
        <meta content="@ViewBag.Des" itemprop="description" />
    }
    @if (ViewBag.keywords != null)
    {
        <meta name="keywords" content="@ViewBag.keywords" />
    }

    @if (ViewBag.img!=null)
    {
    <meta name="og:type" content="article" />
    <meta name="og:image" content="@ViewBag.img" />
    <meta name="og:image:type" content="image/jpeg" />
    <meta name="og:image:width" content="250" />
    <meta name="og:image:height" content="250" />
    <meta content="@ViewBag.img" itemprop="image" />
    }



    <meta name="samandehi" content="607414247">
    <meta name="google-site-verification" content="tEVRh-AC29TvkYf2Krce7V7bhb_0S6HBSFX5cjHDqTw">
    <link rel="alternate" href="http://daneshgahe-man.ir" hreflang="fa">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-116460851-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-116460851-2');
    </script>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/layout/favicon.ico" />
    <title>دانشگاه من - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("scriptUp", required: false)
</head>
<body>
    @*menu*@
    @Html.Action("menu", "home")
    <div class="main-content">
        @RenderBody()
        </div>
        <footer class="footer container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        تمامی حقوق این وبگاه متعلق به مجموعه ی دانشگاه من می باشد.
                    </div>
                    <div class="col-lg-6 footer-link">
                        <a href="#"><img src="~/Images/layout/facebook-logo.svg" alt=""></a>
                        <a href="#"><img src="~/Images/layout/linked-in-logo.svg" alt=""></a>
                        <a href="#"><img src="~/Images/layout/twitter-logo-silhouette.svg" alt=""></a>
                        <a href="https://www.instagram.com/pejman.dev/"><img src="~/Images/layout/instagram.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </footer>


        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        @RenderSection("scripts", required: false)
        <script>
        $(document).ready(function () {
            $("#closeMobile").click(function () {
                $("#mobile-menu").fadeOut(300);
            })
            $("#mobile-icon").click(function () {
                $("#mobile-menu").fadeIn(500);

            })
            $("#mobile-user-name").click(function () {
                $("#mobile-account-link").fadeIn(500);

            })

        })
        </script>
</body>
</html>
