﻿@model University.Models.News

@{
    ViewBag.Title = "ویرایش";
}

<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/edit.svg" alt="">
        <p> ویرایش</p>
    </div>

</header>
<section class="signin-body container-fluid">
    <div>
        @using (Html.BeginForm("edit", "adminnews", FormMethod.Post, new { area = "admin", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ID)
            @Html.HiddenFor(x => x.DateCrt)
            @Html.HiddenFor(x => x.Image)
            if (ViewBag.ErrorFile != null)
            {
                <div class="alert alert-warning text-center">فرمت فایل آپلودی غیر قابل پشتیبانی است</div>
            }
            <p class="label-for-pamphlet margin-top-1em">دانشگاه</p>
            <div class="edit-pamphlet">

                @Html.DropDownList("UniversityID", null, htmlAttributes: new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.UniversityID, "", new { @class = "text-danger form-validation" })

            <p class="label-for-pamphlet">عنوان</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { autofocus = "autofocus" } })
            </div>
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet margin-top-1em">توضیح کوتاه</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.ShortDescription)
            </div>
            @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet margin-top-1em">متن خبر</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Description)
            </div>
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet margin-top-1em">کلمات کلیدی</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Tags)
            </div>
            @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger form-validation" })


            <p class="label-for-pamphlet margin-top-1em">تصویر</p>
            <div class="edit-pamphlet" id="image-div">
                <label for="file" class="file-label">آپلود فایل...</label>
                <input type="file" name="file" id="file" value="">
            </div>
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger form-validation" })



            <p class="w-100">
                <input type="submit" value="ویرایش" class="edit-pamphlet-btn">
                @Html.ActionLink("بازگشت", "Index", null, new { @class = "go-back" })


            </p>
        }
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#file").change(function () {
                $(this).parent().find("label").text("فایل پیوست شد");
                $("#pdf-div").css("background-color", "#d4edda")
            })
        })
    </script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

}