﻿@model IEnumerable<University.Models.News>
@{
    ViewBag.Title = "مدیریت خبرها";
}
<header class="publisher-header">
    <h1>@ViewBag.Name</h1>
</header>
<section class="publisher container-fluid margin-bottom-1em">

    <div class="row ">

        <div class="col-lg-3">
            <div class="filters">
                <div class="header-filters">فیلتر های جستجو</div>
                @*<input id="course" class="filter-btn" name="course" type="text" placeholder="درس">
                    <input id="teacher" class="filter-btn" name="teacher" type="text" placeholder="استاد">
                    <input id="fild" class="filter-btn" name="fild" type="text" placeholder="رشته">*@
            </div>
        </div>
        <div class="col-lg-9">

            <div class="filters ">
                <div class="header-filters">لیست خبرهای موجود در سایت</div>
                <div class="row margin-bottom-1em">
                    <div class="col-12 link-pub">
                        <a href="/admin/adminnews/create" class="btn-add btn-publisher">
                            <img src="~/Images/layout/add-button-inside-black-circle.svg">
                            افزودن خبر
                        </a>
                    </div>
                </div>
                <div id="list-news">
                    @foreach (var item in Model)
                    {
                        <div class="pamphlet row">
                            <div class="col-sm-9 padding-0 code-pamphlet">
                                <span style="margin-left:2em;">
                                    <img src="~/Images/layout/file.svg" class="icon-pamphlet padding-left-0" alt="">
                                </span>
                                <span class=" padding-0">@item.Title </span>
                            </div>
                          
                            <div class="col-sm-3 border-right-pamphlet  ">
                                <div class="row padding-left-1-10 ">
                                    <a class=" col-sm-4 publisher-btn-show publisher-border-left" href="/n/@item.ID/@item.Title">نمایش</a>
                                    <a class=" col-sm-4 publisher-btn-edit publisher-border-left" href="/admin/adminnews/edit/@item.ID">ویرایش</a>
                                    <a class=" col-sm-4 publisher-btn-delete" href="/admin/adminnews/delete/@item.ID">حذف</a>
                                </div>
                            </div>

                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
