﻿@model IEnumerable<University.Models.Order>

@{
    ViewBag.Title = "LastOrder";
}


<section class="container">
    <div class="header-text-profile publisher-order-list">
        سفارش های تکمیل شده اخیر
        <span class="back-to-list">
            <a href="/publishershop">بازگشت  </a>
            <img src="~/Images/layout/left-arrow.svg" alt="">
        </span>
    </div>
    <div class="profile-content">
        <div class="listdiv">
            <div id="list-pamphlets">
                @if (Model.Count() != 0)
                {
                    foreach (var item in Model)
                    {

                        <div class="pamphlet row">

                            <div class="col-sm-2 padding-0 code-pamphlet">
                                <span style="margin-left:2em;">
                                    <img src="~/Images/layout/file.svg" class="icon-pamphlet padding-left-0" alt="">
                                </span>
                                <span class=" padding-0"> کد:@item.Pamphlet.Code</span>


                            </div>
                            <div class="col-sm-3 border-right-pamphlet">
                                <span>
                                    @item.Pamphlet.Course
                                </span>
                            </div>
                            <div class="col-sm-7 border-right-pamphlet  ">
                                <div class="row padding-left-1-10">
                                    <span class="col-sm-5">
                                        @item.User.Name
                                    </span>
                                    <span class="col-sm-5">
                                        @item.User.Mobile
                                    </span>

                                    <a class=" col-sm-2 ready-btn" onclick="showdetails(this)" Pamphlet-ID="@item.ID">نمایش</a>
                                </div>
                            </div>

                        </div>
                    }
                }

            </div>
        </div>
    </div>
</section>

<div id="Pamphlet-Modal">
    <div id="modal-content-change">
        <a id="closeModal" class="closeModal">&times;</a><br>
        <div id="modal-body">

        </div>
    </div>
</div>

@section scripts{
    <script>
        function showdetails(e) {

            var ID = $(e).attr("Pamphlet-ID");
            $.ajax({
                url: "/publishershop/orders/showdetails/" + ID,
                type: "get",
                success: function (ob) {
                    $("#modal-body").html(ob);
                    $("#Pamphlet-Modal").fadeIn(300)
                }
            })
        }
        //بستن مدال
        $("#closeModal").click(function () {
            $("#Pamphlet-Modal").fadeOut(300)
        })

    </script>
}