﻿@model University.Models.Pamphlet

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pamphlet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fild)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fild)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DownloadPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DownloadPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DownloadCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DownloadCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCrt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCrt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pdf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pdf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Professor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.View)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.View)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublisherShop.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublisherShop.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.University.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.University.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
