﻿@model University.Models.News

@{
    ViewBag.Title = "افزودن خبر";
}

<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/add.svg" alt="">
        <p> افزودن خبر</p>
    </div>

</header>




<section class="signin-body container-fluid">
    <div>
        @using (Html.BeginForm("add", "newss", FormMethod.Post, new { area = "user", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <p class="label-for-pamphlet margin-top-1em">دانشگاه</p>
            <div class="edit-pamphlet">

                @Html.DropDownList("UniversityID", null, htmlAttributes: new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.UniversityID, "", new { @class = "text-danger form-validation" })

            <p class="label-for-pamphlet">عنوان</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { autofocus = "autofocus" } })
            </div>
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet margin-top-1em">توضیح کوتاه</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.ShortDescription)
            </div>
            @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet margin-top-1em">متن خبر</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Description)
            </div>
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet margin-top-1em">کلمات کلیدی</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Tags)
            </div>
            @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger form-validation" })


            <p class="label-for-pamphlet margin-top-1em">تصویر</p>
            <div class="edit-pamphlet" id="image-div">
                <label for="Image" class="file-label">آپلود فایل...</label>
                <input type="file" name="Image" id="Image" value="">
            </div>
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger form-validation" })

            <p class="label-for-pamphlet margin-top-1em">نمایش نام نویسنده</p>
            <div class="edit-pamphlet" >
                <label for="showName" style="display:inline">
                @Html.CheckBox("showName",true)
                    نمایش داده شود
                </label>
            </div>

            <p class="w-100">
                <input type="submit" value="افزودن" class="edit-pamphlet-btn">
                @Html.ActionLink("بازگشت", "Index", null, new { @class = "go-back" })


                @*<a href="#" class="go-back">بازگشت</a>*@
            </p>

        }
    </div>
</section>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#Image").change(function () {
                $(this).parent().find("label").text("فایل پیوست شد");
                $("#image-div").css("background-color","#d4edda")
            })
        })
    </script>
}