﻿@model IEnumerable<University.Models.News>
@{
    ViewBag.Title = "خبر های من";
}



<section class="container">
    <div class="header-text-profile publisher-order-list">
        <a href="/user/newss/add" class="add-news-user">
            <img src="~/Images/layout/add-button-inside-black-circle.svg" alt="">
            افزودن

        </a>
        <b style="font-size: 1.12em;">
            خبرهای من
        </b>
        <span class="back-to-list">
            <a href="/user/">بازگشت  </a>
            <img src="~/Images/layout/left-arrow.svg" alt="">
        </span>
    </div>
    <div class="profile-content">
        <div class="listdiv">
            <div id="list-pamphlets">
@foreach (var item in Model)
{
                <div class="pamphlet row">
                    <div class="col-sm-4">
                        <img src="~/Images/news/@item.Image" alt="@item.Title" class="user-image-news" >
                    </div>
                    <div class="col-sm-6 user-desc-news">
                        <p class="user-news-text">
                            @item.Title
                        </p>
                        <p class="user-icon-news">
                            <span>
                                <img src="~/Images/layout/heart.svg" /> <i>@item.Like</i>
                            </span>
                            <span>
                                <img src="~/Images/layout/comment-white-oval-bubble.svg" /> <i>@item.NewsComment.Count()</i>
                            </span>

                        </p>
                    </div>
                    <div class="col-sm-2 change-news">

                        <a href="/user/newss/edit/@item.ID" class="btn-edit-news">ویرایش</a>
                        <a href="/user/newss/delete/@item.ID" class="btn-delete-news">حذف</a>

                    </div>
                </div>

}
            </div>
        </div>
    </div>
</section>

@*<div class="col-12 link-pub">
    <a href="/publishershop/default/create" class="btn-add btn-publisher">
        <img src="~/Images/layout/add-button-inside-black-circle.svg">
        افزودن جزوه
    </a>
    <a href="/user">بازگشت</a>
</div>
<section class="news-list container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="card">
                    <img src="~/Images/news/@item.Image" alt="@item.Title">
                    <div class="card-title">
                        @item.Title
                    </div>
                    <div class="vahed">@item.University.Type</div>
                    <div class="blue-line"></div>

                    <div class="text-center  margin-top-1em">
                        <a href="" class=" col-sm-6 publisher-btn-edit">ویرایش</a>
                        <a href="" class=" col-sm-6 publisher-btn-delete">حذف</a>
                    </div>
                </div>
            </div>

        }

    </div>
</section>*@