﻿
.header {
    background-image: url('../Images/layout/Header@3x.png') !important;
}

.modal-order-bg {
    background-image: url(../Images/layout/file-2@3x.svg) !important;
}


.signin-header {
    background-image: url('../Images/layout/sign-in.png') !important;
}
.publisher-header {
    background-image: url('../Images/layout/gradiant.jpg') !important;
}
.about-header {
    background-image: url('../Images/layout/gradiant.jpg') !important;
}