﻿
@{
    ViewBag.Title = "تاییدیه پرداخت بانکی";
}
<header class="signin-header">

    <div class="icon-signin">
@if (ViewBag.Status != null|| ViewBag.credit!=null)
{
    <img src="~/Images/layout/verified.svg" alt="">
    <p>   پرداخت موفق</p>
}
else
{
        <img src="~/Images/layout/cancel.svg" alt="">
        <p> خطا در  پرداخت</p>
        }
    </div>

</header>

<section class="payment container-fluid">
    <div>
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-warning text-center">@ViewBag.Error</div>
        }
        @if (ViewBag.Status != null || ViewBag.credit != null)
        {
            if (ViewBag.credit != null)
            {
                <h1> با موفقیت ثبت شد</h1>
                <p class="text-success text-center">به محض آماده شدن براتون پیامک میفرستیم.</p>
            }
            else
            {
                <h1>پرداخت با موفقیت انجام شد</h1>
                    <p class="text-success font-size-8em">شما میتوانید سفارش خود رادر ناحیه کاربری پیگیری کنید و پس آماده شدن تحویل بگیرید.</p>
                    <p class="text-danger font-size-8em">مبلغ پرداختی شما از هزینه چاپ در هنگام تحویل کسر میگردد</p>
            }

        }
        else
        {
            <h1>سفارش با خطا مواجه شد</h1>
            @*<p class="text-danger font-size-8em">برای جلو گیری از لغو سیستمی سفارش ,تا 24 ساعت آینده پرداخت را انجام دهید.</p>*@
            <p class="font-size-8em">چنانچه طی این فرآیند مبلغی از حساب شما کسر شده است, طی 72 ساعت آینده به حساب شما واریز میگردد.</p>

        }
       

    </div>
</section>



