﻿@model University.Models.ViewModel.pamphlet_CommentViewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.PamphletID)
    @Html.HiddenFor(x => x.ParentID)

    <div class="row comment-write">
        <span class="comment-img text-left">
            @if (Model.user.Picture != null && User.Identity.IsAuthenticated)
            {
                <img src="~/Images/userImage/small/@Model.user.Picture">

            }
            else
            {
                <img src="~/Images/layout/user-2.svg" alt="">
            }
        </span>
        @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "comment-textbox ", placeholder = "دیدگاه خود را بنویسید..." } })
        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger form-validation" })
        <input type="submit" class=" comment-btn-submit" value="ارسال">
    </div>
}


@section Scripts {
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
