﻿
@{
    ViewBag.Title = "تایید و پرداخت";
}
@if (ViewBag.notfound != true)
{
    @model University.Models.Pamphlet


<section class="container">

    <article class="preOrder row">
        <div class="col-sm-12 col-md-6 col-lg-6 " style="padding-top:20px">
            <p class="text-center">
                کد :      @Model.Code
            </p>
            <p class="text-center">
                نام : @Model.Course
            </p>
            <p class=" text-center">
                استاد : @Model.Professor
            </p>
            <p class=" text-center">
                دانشگاه : @Model.University.Name
            </p>
            <p class=" text-center">
                تاریخ ثبت : @Model.DateCrt.ToString("yyyy/MM/dd")
            </p>
            <p class=" text-center">
                قیمت : @Model.DownloadPrice
            </p>
            <p class="text-center">
                <a href="# " class="btn btn-outline-primary text-center">پرداخت و دانلود...</a>
            </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <img class="img-fluid " style="max-height:300px" src="~/Images/content/if_set_of_three_books_1741315.svg" />
        </div>



    </article>
</section>

}
else
{
    <div class="alert alert-warning text-center">خطایی رخ داده است</div>
}