﻿
@{
    ViewBag.Title = "پیش پرداخت";
}

<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/pay.svg" alt="">
        <p>پیش پرداخت</p>
    </div>
</header>


<section class="signin-body container-fluid">
    <div>
        @if (ViewBag.error != null)
        {
            <div class="alert alert-warning text-center">@ViewBag.error</div>
        }
        <p class="text-pay">
            برای ثبت سفارش و تایید آن توسط وب سایت
            شما باید بخش اندکی از هزینه ی سفارش خود را آنلاین پرداخت کنید.
        </p>
        <p class="text-cost-pay">
            مبلغ: @System.Configuration.ConfigurationManager.AppSettings["Amount"] تومان
        </p>
        <p class="text-pay-su">
            مبلغ در زمان تسویه حساب در مرکز کپی به شما برگردانده میشود.
        </p>
        <form action="/order/sendpay" method="post">
            <button class="signin-submit text-center">پرداخت!</button>
        </form>

        <a href="/" class="pay-back">برگشت</a>

    </div>
</section>
