﻿
@model University.Models.Pamphlet
@{
    ViewBag.Title = Model.Course;
    ViewBag.url = $"order/print/{Model.ID}";
    ViewBag.date = Model.DateCrt.ToShortDateString();
    ViewBag.Des = $"جزوه ی {Model.Course} با کد {Model.Code} از استاد {Model.Professor} برای  {Model.University.Name}";
    ViewBag.keywords = $"{Model.Code},{Model.Course},{Model.Professor},{Model.Fild}";
    if (Model.Image != null)
    {
        ViewBag.img = $"~/Images/Preview/resize/{Model.Image}";
    }
}
@section scriptUp{
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "Recipe",
        "name": "@Model.Course",
        "image": "http://daneshgahe-man.ir/Images/Preview/resize/@Model.Image",
        "author": {
        "@@type": "Person",
        "name": "pejmanrad"
        },
        "datePublished": "@Model.DateCrt",
        "description": " @($"جزوه ی {Model.Course}  از استاد {Model.Professor} برای  {Model.University.Name}")",
        "recipeCuisine": "Iran",
        "keywords": "@($"{Model.Code},{Model.Course},{Model.Professor},{Model.Fild}")",


        "aggregateRating": {
        "@@type": "AggregateRating",
        "ratingCount": "18",
        "ratingValue": "5"
        }
        }
    </script>
}


@if (ViewBag.notfound != true)
{

    <section class=" order container  margin-bottom-1em">
        <div>
            <div class="header-text-order"> رزرو چاپ </div>
        </div>
        <div class="row order-form">

            <div class="col-lg-6 order-xs-1">
                @if (TempData["credit"] != null)
                {
                    <div class="alert alert-success text-center">
                        تایید پیش پرداخت برای ثبت سفارش
                    </div>
                }
                <p class="form-text-order">کد درس: <span>@Model.Code</span></p>
                <p class="form-text-order">نام درس: <span>@Model.Course</span></p>
                <p class="form-text-order">رشته: <span>@Model.Fild</span></p>
                <p class="form-text-order">استاد: <span>@Model.Professor</span></p>
                <p class="form-text-order">دانشگاه: <span>@Model.University.Name</span></p>
                <p class="form-text-order">تاریخ : <span>@Model.DateCrt.ToString("yyyy/MM/dd")</span></p>
                <p class="form-text-order">
                    هزینه :
                        <span>درهنگام تحویل با تخفیف حساب کنید</span>
                    @*@if (TempData["credit"] == null)
                    {
                    }
                    else
                    {
                        <span class="text-danger">مبلغ @System.Configuration.ConfigurationManager.AppSettings["Amount"] تومان به عنوان پیش پرداخت برای تایید سفارش</span>
                    }*@

                </p>
                @*<div class="alert alert-warning text-center">این هزینه در 2 سفارش اول از اعتبار اولیه شما که در هنگام ثبت نام به حساب شما واریز شده است کسر میشود.</div>*@
                <p class="form-text-order"><span>تحویل در : @Model.PublisherShop.Address</span></p>
                <a href="/order/Payment/@Model.ID" class="signup-submit text-center">حله چاپش کن!</a>

            </div>
            <div class="col-lg-6 bg-print-img order-xs-0">
                <img src="~/Images/layout/printer@3x.svg" alt="">
            </div>
        </div>

    </section>
    if (!User.Identity.IsAuthenticated)
    {
        <div class="alert container alert-warning text-center">
            برای ارسال دیدگاه خود
            <a class="text-bold" href="/account/login">وارد</a>
            شوید.
        </div>
    }
    @Html.Action("showComments")

    @*<div class="container mt-3">
            <p>نظرات</p>
            <div class="border">

                @Html.Action("createcomment", Model.ID)
            </div>
            <div id="Comments">

            @Html.Action("showComments", Model.ID)
            </div>
        </div>
        @section  scripts{
            <script>
                function responseComment(i) {
                    var parentid = $(i).attr("parentID")
                    var id = $(i).attr("pamphletID")
                    $.ajax({
                        url: '/Order/createcomment/',
                        type: 'get',

                        data: { id: id, ParentID: parentid },

                    }).done(function (e) {
                        $('#' + parentid).append(e);
                        $(i).removeAttr("onclick")
                    })
                }

            </script>

        }*@
}
else
{
    <div class="alert alert-warning text-center">خطایی رخ داده است</div>
}