﻿@{
    ViewBag.Title = "درباره ما";
  
    ViewBag.url = $"aboutus";
    ViewBag.Des = $"اطلاعاتی در مورد وب سایت دانشگاه من و مدیران بخش های مختلف سایت و روند کلی سایت";
    ViewBag.keywords = $"دانشگاه من , مدیر وب سایت , روند کلی سایت";

}
@section scriptUp{
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "Recipe",
        "name": "دانشگاه من - درباره ما",
        "image": "http://daneshgahe-man.ir/Images/Personnal/pejmanrad.jpg",
        "author": {
        "@@type": "Person",
        "name": "pejmanrad"
        },
        "datePublished": "2018-08-21",
        "description": " اطلاعاتی در مورد وب سایت دانشگاه من و مدیران بخش های مختلف سایت و روند کلی سایت",
        "recipeCuisine": "Iran",
        "keywords": "دانشگاه من , مدیر وب سایت , روند کلی سایت",


        "aggregateRating": {
        "@@type": "AggregateRating",
        "ratingCount": "18",
        "ratingValue": "5"
        }
        }
    </script>
}
<header class="about-header">
    <h1>درباره ما</h1>
    <h2>سامانه آنلاین دانشگاهی</h2>
    <a href="/">جستجو آنلاین جزوات</a>
</header>
<section class="information container">
    <h1>کمی در مورد دانشگاه من</h1>
    <p>
        اعضای تیم دانشگاه من برای رفاه حال دانشجویان اساتید و افراد که دنبال اطلاعاتی از دانشگاه مورد نظر خود هستند
        این سایت را بنا کرده اند و خوشحالند که توانسته اند خدمتی به این عزیزان ارائه دهند
        در این سایت شما میتوانید از امکانات زیر برخوردار بشید:
        <ul class="ul-information">
            <li>فالو کردن دانشگاه های مورد علاقه ی خود و پیگیری آنها.</li>
            <li>شما رو ازخبر های به روز و اتفاق های جالبی که توی دانشگاه ها رخ میده با خبر میکنه.</li>
            <li>لیست استادای دانشگاه , رشته , تخصص , سابقه کاری و مدرک تحصیلی اونا رو میتونید ببینید و با خبر بشید.</li>
            <li>
                میتونید جزوه های درسیتون که توی انتشارات دانشگاه هست رو به راحتی پیدا کنید و حتی سفارش بدید که هر وقت آماده شد
                برید و از انتشارات تحویلش بگیرید و از اتلاف وقت و هزینه جلو گیری کنید.
            </li>
        </ul>

    </p>
</section>
<section class="team container">
    <h1>
        <span>تیم تخصصی مارا بشناسید</span>
    </h1>
    <div class="row">
        <div class="col-sm-4"   >
            <div class="person">
                <img src="~/Images/Personnal/kamalOmidi.jpg" />
                <h1>
                    کمال امیدی
                </h1>
                <p>
                    مدیر مالی و مشاور
                </p>
                <div>
                    <a>
                        <img src="~/Images/layout/instagram (2).svg" alt="">
                    </a>
                    <a>
                        <img src="~/Images/layout/twitter (2).svg" alt="">
                    </a>
                    <a>
                        <img src="~/Images/layout/facebook-logo (2).svg" alt="">
                    </a>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="person">
                <img src="~/Images/Personnal/pejmanrad.jpg" />
                <h1>
                    پژمان رحیمی راد
                </h1>
                <p>
                    توسعه دهنده وب 
                </p>
                <div>
                    <a href="https://www.instagram.com/pejman.dev/">
                        <img src="~/Images/layout/instagram (2).svg" alt="">
                    </a>
                    <a>
                        <img src="~/Images/layout/twitter (2).svg" alt="">
                    </a>
                    <a>
                        <img src="~/Images/layout/facebook-logo (2).svg" alt="">
                    </a>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="person">
                <img src="~/Images/Personnal/mahdi.jpeg" />
                <h1>
                    مهدی سرطاری
                </h1>
                <p>
                    برنامه نویس و طراح سایت
                </p>
                <div>
                    <a href="">
                        <img src="~/Images/layout/instagram (2).svg" alt="">
                    </a>
                    <a>
                        <img src="~/Images/layout/twitter (2).svg" alt="">
                    </a>
                    <a>
                        <img src="~/Images/layout/facebook-logo (2).svg" alt="">
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="skills container">
    <h1>
        <span>
            مهارت های ما
        </span>
    </h1>
    <div class="row">
        <div class="col-sm-4 skill">
            <img src="~/Images/layout/check-mark.svg" alt="">
            <h1>طراحی گرافیکی</h1>
        </div>
        <div class="col-sm-4 skill">
            <img src="~/Images/layout/approval.svg" alt="">
            <h1>برنامه نویسی</h1>
        </div>
        <div class="col-sm-4 skill">
            <img src="~/Images/layout/document.svg" alt="">
            <h1>طراحی وب</h1>
        </div>

        <div class="col-sm-4 skill">
            <img src="~/Images/layout/metrics.svg" alt="">
            <h1>مشاوره</h1>
        </div>
        <div class="col-sm-4 skill">
            <img src="~/Images/layout/edit-video.svg" alt="">
            <h1>طراحی واکنش گرا</h1>
        </div>
        <div class="col-sm-4 skill">
            <img src="~/Images/layout/bug.svg" alt="">
            <h1>کدنویسی تمیز</h1>
        </div>

    </div>
</section>
<!-- support------------------------ -->
<section class="support container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p class="support-title">
                    ارتباط از طریق تلفن
                </p>
                <p class="support-text">
                    کارشناس فنی ما به صورت شبانه روزی در خدمت شما
                    هستند تا بتواننداز طریق تماس شمامشکلات
                    به وجود آمده را حل کنند
                </p>
                <p class="text-center">
                    <br>
                    <span class="btn-support">09917370798</span>
                </p>
            </div>
            <div class="col-lg-4">
                <p class="support-title">
                    ارسال پست الکترونیکی
                </p>
                <p class="support-text">
                    کارشناسان فنی ما به صورت شبانه روزی در خدمت شما هستند
                    تا بتوانند از طریق تماس شما مشکلات به وجود آمده را
                    حل کنند
                </p>
                <p class="text-center">
                    <br>
                    <span class="btn-support">info@daneshgahe-man.ir</span>
                </p>
            </div>
            <div class="col-lg-4">
                <p class="support-title">
                    ارسال پست الکترونیکی
                </p>
                <div class="row padding-2">

                    <div class="col-8 text-center">
                        <img src="/~/Images/layout/logo.png" width="70%" alt="">
                    </div>
                    <div class="col-4 change-logo ">
                        <img src="~/Images/layout/arrow-point-to-right-2.svg" class="change-pic-up rotate-90" alt="">

                        <img src="~/Images/layout/arrow-point-to-right.svg" class="rotate90 change-pic-down" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>