﻿@model University.Models.ContactUS

@{
    ViewBag.Title = "ارتباط با ما";

    ViewBag.url = $"contactus";
    ViewBag.Des = $"ارتباط با مدیران سایت دانشگاه من";
    ViewBag.keywords = $"دانشگاه من , ارتباط با ما , ارتباط با مدیر";
}

<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/call_us.svg"style="margin-top:.5em;" alt="">
        <p> ارتباط با ما</p>
    </div>

</header>

<section class="signin-body container-fluid">
    <div>

       

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            if (ViewBag.success != null)
            {
                <div class="alert alert-success text-center">
                    با موفقیت ارسال شد
                    <br />
                    در اسرع وقت با شما تماس میگیریم.
                </div>
            }
            <p class="label-for-pamphlet">نام و نام خانوادگی</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Name)

            </div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger form-validation" })


            <p class="label-for-pamphlet margin-top-1em">ایمیل</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Email)


            </div>
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger form-validation" })



            <p class="label-for-pamphlet margin-top-1em">عنوان</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Title)


            </div>
            @Html.ValidationMessageFor(model => model.Title , "", new { @class = "text-danger form-validation" })


            <p class="label-for-pamphlet margin-top-1em">متن</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Description)

            </div>
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger form-validation" })

            <div class="margin-top-1em">
                <div class="g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["sitekey"]"></div>
                @Html.ValidationMessage("Captcha", "", new { @class = "text-danger form-validation" })
            </div>


            <input type="submit" value="ارسال" class="signup-submit">



        }
    </div>
</section>


@section scriptUp{
    <script src="https://www.google.com/recaptcha/api.js?hl=fa_IR" async defer></script>
}
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
