﻿
@{
    ViewBag.Title = "جستجو جزوه ها";
   
    ViewBag.url = $" ";
    ViewBag.Des = $"دانشگاه من | جستجوی آنلاین و پیشرفته جزوه های درسی در دانشگاه های سراسر کشور ایران";
    ViewBag.keywords = $"دانشگاه من , daneshgahe man ,جستجوی پیشرفته جزوه های دانشگاهی , جزوه, دانشگاه آنلاین ,دانشگاه آزاد , دانشگاه پیام نور , دانشگاه سراسری , دانشگاه دولتی";
}

<!-- header-------------------------- -->
<header class="header">
    <h1>سامانه آنلاین انتشارات و جزوات دانشگاه ها</h1>
    <h2>
        با بیش از هزاران جزوه از هر دانشگاه
    </h2>
    <a class="btn-start" id="search-btn">جستجو و سفارش</a>
</header>
<section class="how-work container-fluid" style="min-height: 200px;">
    <h1><span>چگونگی کار</span></h1>
    <div class="row ">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 work-rotate ">
                    <div class="bg-1">
                        <img src="~/Images/layout/1.svg" alt="">
                    </div>

                </div>
                <div class="col-3">
                    <img src="~/Images/layout/left-arrow.svg" class="arrow-left" alt="">
                </div>
            </div>
            <div class="work-text">ثبت نام در وب سایت <br>دانشگاه من</div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 work-rotate">
                    <div class="bg-2">
                        <img src="~/Images/layout/2.svg" alt="">
                    </div>

                </div>
                <div class="col-3">
                    <img src="~/Images/layout/left-arrow.svg" class="arrow-left" alt="">

                </div>
            </div>
            <div class="work-text">جستجوی جزوه مورد نظر در <br>قسمت فیلتر جستجو</div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 work-rotate">
                    <div class="bg-3">
                        <img src="~/Images/layout/3.svg" alt="">
                    </div>

                </div>
                <div class="col-3">
                    <img src="~/Images/layout/left-arrow.svg" class="arrow-left" alt="">

                </div>
            </div>
            <div class="work-text">انتخاب جزوه مورد نظر  <br>و بررسی نهایی</div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 work-rotate">
                    <div class="bg-4">
                        <img src="~/Images/layout/4.svg" alt="">
                    </div>

                </div>
                <div class="col-3"></div>
            </div>
            <div class="work-text">پرداخت نهایی و ارسال جزوه  <br>به بخش چاپ</div>
        </div>

    </div>
</section>

<!-- pamphlet------------------------- -->
<section id="pamphlets" class="pamphlets container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 ">
                <div class="filters">
                    <div class="header-filters">فیلتر های جستجو</div>
                    <input id="uni" name="university" class="filter-btn" type="button" value="انتخاب دانشگاه">
                    <label class="label-for-pamphlet">درس</label>
                    <input id="course" name="course" class="filter-btn" type="text" placeholder="قسمتی از نام درس را وارد کنید">
                    <label class="label-for-pamphlet">استاد</label>
                   
                    <input id="teacher" name="teacher" class="filter-btn" type="text" placeholder="قسمتی از نام استاد را وارد کنید">
                    <label class="label-for-pamphlet">رشته</label>
                  
                    <input id="fild" name="fild" class="filter-btn" type="text" placeholder="قسمتی از نام رشته را وارد کنید">
                    <p id="pamphlet-find" class="text-danger font-size-8em"></p>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="filters">
                    <div class="header-filters">لیست جزوات موجود در سایت</div>
                    <div class="extra-search">
                        <div>
                            <input type="text" id="AdvancedSearch" placeholder="جستجو پیشرفته (درس-استاد-رشته-دانشگاه)">
                        </div>
                    </div>
                    <div id="list-pamphlets">
                        @Html.Action("jozve")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="tizer container-fluid">
        <video id="video">
            <source src="/image/tizer.mp4" />
        </video>
        <img id="play-tizer" src="/image/play-button-2.svg" alt="">
        <img id="pause-tizer" src="/image/play-button-2.svg" alt="">
        <div class="tizer-text">
            <h1>تیزر معرفی وب سایت دانشگاه من</h1>
            <p>کارشناسان ما یک ویدئو آموزشی طراحی کرده اند تا شما بتوانید عملکرد وب سایت را به وضوح ببینید...</p>
        </div>
    </section>*@
<section class="tizer container-fluid">

    <video id="video">
        <source src="~/Images/layout/tizer.mp4" />
    </video>
    <img id="play-tizer" src="~/Images/layout/play-button-2.svg" alt="">
    <img id="pause-tizer" src="~/Images/layout/play-button-2.svg" alt="">
    <div class="tizer-text">
        <h1>تیزر معرفی وب سایت دانشگاه من</h1>
        <p>کارشناسان ما یک ویدئو آموزشی طراحی کرده اند تا شما بتوانید عملکرد وب سایت را به وضوح ببینید...</p>
    </div>

</section>


<!-- support------------------------ -->
<section class="support container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p class="support-title">
                    ارتباط از طریق تلفن
                </p>
                <p class="support-text">
                    کارشناس فنی ما به صورت شبانه روزی در خدمت شما
                    هستند تا بتواننداز طریق تماس شمامشکلات
                    به وجود آمده را حل کنند
                </p>
                <p class="text-center">
                    <br>
                    <span class="btn-support">09917370798</span>
                </p>
            </div>
            <div class="col-lg-4">
                <p class="support-title">
                    ارسال پست الکترونیکی
                </p>
                <p class="support-text">
                    کارشناسان فنی ما به صورت شبانه روزی در خدمت شما هستند
                    تا بتوانند از طریق تماس شما مشکلات به وجود آمده را
                    حل کنند
                </p>
                <p class="text-center">
                    <br>
                    <span class="btn-support">info@daneshgahe-man.ir</span>
                </p>
            </div>
            <div class="col-lg-4">
                <p class="support-title">
                    نماد های اعتماد
                </p>
                <div class="row padding-2">

                    <div class="col-8 text-center">
                        <img id="jxlznbqejzpeoeukapfufukz" style="cursor:pointer" onclick="window.open(&quot;https://logo.samandehi.ir/Verify.aspx?id=127856&amp;p=rfthuiwkjyoemcsidshwgvka&quot;, &quot;Popup&quot;,&quot;toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30&quot;)" alt="logo-samandehi" src="https://logo.samandehi.ir/logo.aspx?id=127856&amp;p=nbpdodrfyndtaqgwujynwlbq">
                        @*<img src="~/Images/layout/logo.png" width="70%" alt="">*@
                    </div>
                    <div class="col-4 change-logo ">
                        <img src="~/Images/layout/arrow-point-to-right-2.svg" class="change-pic-up rotate-90" alt="">

                        <img src="~/Images/layout/arrow-point-to-right.svg" class="rotate90 change-pic-down" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div id="Pamphlet-Modal">
</div>
<div id="modal-content">
    <span id="closeModal" class="closeModal">&times;</span><br />
    <div id="modal-body">


    </div>
</div>

@section scriptUp{
   <script type="application/ld+json">
    {
    "@@context": "http://schema.org/",
    "@@type": "Recipe",
    "name": "دانشگاه من - جستجوی جزوه ها",
    "image": "http://daneshgahe-man.ir/Images/layout/IMG_0155.PNG",
    "author": {
    "@@type": "Person",
    "name": "pejmanrad"
    },
    "datePublished": "2018-03-10",
    "description": " جستجوی آنلاین و پیشرفته جزوه های درسی در دانشگاه های سراسر کشور ایران",
    "recipeCuisine": "Iran",
    "keywords": "دانشگاه من , daneshgahe man ,جستجوی پیشرفته جزوه های دانشگاهی , جزوه, دانشگاه آنلاین ,دانشگاه آزاد , دانشگاه پیام نور , دانشگاه سراسری , دانشگاه دولتی",
    "aggregateRating": {
    "@@type": "AggregateRating",
    "ratingCount": "18",
    "ratingValue": "4.8"
    }
    }
</script>
    }
@section scripts{
    <script>
        function selectUni(a) {

            var uni = $("#uni");
            uni.val($(a).text())

            //uni.attr("disabled", "disabled")
            $("#Pamphlet-Modal").fadeOut(300)
            $("#modal-content").fadeOut(300)

            $.ajax({
                url: '/home/jozve/',
                data: { Uni: uni.val() },
                type: 'get',
                success: function (res) {

                    $("#list-pamphlets").html(res)
                }
            })

        }
        function showdetails(e) {

            var ID = $(e).attr("Pamphlet-ID");
            $.ajax({
                url: "/home/Pamphlet/" + ID,
                type: "get",
                success: function (ob) {
                    $("#modal-body").html(ob);
                    $("#Pamphlet-Modal").fadeIn(300)
                    $("#modal-content").fadeIn(300)
                }
            })
        }

        $(document).ready(function () {
            //play tizer
            $("#play-tizer").click(function () {
                var video = $("#video");
                video.trigger('play');
                $(".tizer-text").fadeOut(200);
                $(this).fadeOut(300)
                $("#pause-tizer").fadeIn(1000);
            })
            $("#pause-tizer").click(function () {
                var video = $("#video");

                if (video.trigger("play")) {
                    video.trigger('pause')
                    $(".tizer-text").fadeIn(200);
                    $("#play-tizer").fadeIn(200)
                }

            })
            $.fn.scrollView = function () {
                return this.each(function () {
                    $('html, body').animate({
                        scrollTop: $(this).offset().top
                    }, 1000);
                });
            }
            $('#search-btn').click(function (event) {
                event.preventDefault();
                $('#pamphlets').scrollView();
            });
            //بستن مدال
            $("#closeModal , #Pamphlet-Modal").click(function () {
                $("#Pamphlet-Modal").fadeOut(300);
                $("#modal-content").fadeOut(300)
            })
            //مربوط به تکست ها انتخاب دانشگاه
            $("#uni").click(function () {
                $.ajax({
                    url: "/home/university/",
                    type: "get",
                    success: function (ob) {
                        if (ob != "undefined") {
                            $("#modal-body").html(ob);
                        } else {
                            var div = ' <div class="alert alert-warning text-center">خدمات در این شهر ارائه نشده است</div>';
                            $("#modal-body").html(div);
                        }
                        $("#Pamphlet-Modal").fadeIn(300)
                        $("#modal-content").fadeIn(300)
                    }
                })
            })


            //جستجو پیشرفته
            $("#AdvancedSearch").keyup(function () {
                var text = $(this).val();
                $.ajax({
                    url: '/home/advsearch/',
                    data: {Text: text },
                    type: 'get',
                    success: function (res) {
                        $("#list-pamphlets").html(res)
                    }
                })
            })

            //جستجو جزوات
            $("#course , #teacher , #fild").keyup(function () {
                var uni = $("#uni").val()
                var course = $("#course").val()
                var teacher = $("#teacher").val()
                var fild = $("#fild").val()

                $.ajax({
                    url: '/home/jozve/',
                    data: { Uni: uni, Course: course, Teacher: teacher, Fild: fild },
                    type: 'get',
                    success: function (res) {
                        $("#list-pamphlets").html(res)
                    }
                })
                $.ajax({
                    url: '/home/jozveCount/',
                    data: {  Uni: uni, Course: course, Teacher: teacher, Fild: fild },
                    type: 'get',
                    success: function (res) {
                        $("#pamphlet-find").html(res)
                    }
                })
            })




        })
    </script>
}