﻿@model University.Models.User
<nav id="menu">
    <div class="row">
        <div class="brand col-sm-2 ">
            <div>
                <a href="/">
                    <img class="logo" src="~/Images/layout/IMG_0155.PNG" alt="دانشگاه من"/>
                    <img class="logotype" src="~/Images/layout/IMG_0156.PNG"   alt="لوگوتایپ"/>

                </a>
            </div>
        </div>
        <div class="col-sm-7 links">
            <div id="links">
                @if (ViewBag.login == true)
                {
                    <div class="alert alert-warning text-center">ورود دستگاهی دیگر به حساب شما</div>
                }
                @if (User.Identity.IsAuthenticated && ViewBag.login != true)
                {
                    <ul>
                        @if(Model.RoleID == 1 )
                        {

                            <li>
                                <a href="/admin/users">
                                    <span class="fa">  کاربرها </span>
                                    <span class="en">Users</span>
                                </a>
                            </li>
                            <li class="border-right">
                                <a href="/admin/adminnews">
                                    <span class="fa">   خبرها </span>
                                    <span class="en">News</span>
                                </a>
                            </li>
                            <li class="border-right">
                                <a href="/admin/professors">
                                    <span class="fa">  استادها </span>
                                    <span class="en">Professors</span>
                                </a>
                            </li>
                            <li class="border-right">
                                <a href="/admin/publishershops">
                                    <span class="fa">  مرکز کپی ها</span>
                                    <span class="en">Print Office</span>
                                </a>
                            </li>
                            <li class="border-right">
                                <a href="/admin/Universities">
                                    <span class="fa">  دانشگاه ها</span>
                                    <span class="en">Universitys</span>
                                </a>
                            </li>
                            <li class="border-right">
                                <a href="/admin/orders">
                                    <span class="fa">  سفارش ها</span>
                                    <span class="en">orders</span>
                                </a>
                            </li>

                            <li class="border-right">
                                <a href="/admin/contactus">
                                    <span class="fa">  ارتباط باما</span>
                                    <span class="en">contactus</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/uni">
                                    <span class="fa">  دانشگاه </span>
                                    <span class="en">University</span>
                                </a>
                            </li>
                            <li class="border-right">
                                <a href="/khabar">
                                    <span class="fa">  اخبار </span>
                                    <span class="en">News</span>
                                </a>
                            </li>

                            if (User.Identity.IsAuthenticated && ViewBag.login != true)
                            {
                                if (Model.RoleID == 2)
                                {
                                    <li class="border-right">
                                        <a href="/publishershop">
                                            <span class="fa">  مرکز کپی </span>
                                            <span class="en">Publisher</span>
                                        </a>
                                    </li>
                                }
                                <li class="border-right">
                                    <a href="/user">
                                        <span class="fa">  ناحیه کاربری </span>
                                        <span class="en">User area</span>
                                    </a>
                                </li>
                            }
                            <li class="border-right">
                                <a href="/contact">
                                    <span class="fa">  ارتباط با ما </span>
                                    <span class="en">Contact us</span>
                                </a>
                            </li>
                            <li class="border-right">
                                <a href="/aboutus">
                                    <span class="fa">  درباه ما </span>
                                    <span class="en">About us</span>
                                </a>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <ul>

                        <li>
                            <a href="/uni">
                                <span class="fa">  دانشگاه </span>
                                <span class="en">University</span>
                            </a>
                        </li>
                        <li class="border-right">
                            <a href="/khabar">
                                <span class="fa">  اخبار </span>
                                <span class="en">News</span>
                            </a>
                        </li>

                        <li class="border-right">
                            <a href="/contact">
                                <span class="fa">  ارتباط با ما </span>
                                <span class="en">Contact us</span>
                            </a>
                        </li>
                        <li class="border-right">
                            <a href="/aboutus">
                                <span class="fa">  درباه ما </span>
                                <span class="en">About us</span>
                            </a>
                        </li>
                    </ul>
                }

            </div>
        </div>
        <div class="col-sm-3 account">
            <div id="account">
                @if (User.Identity.IsAuthenticated && ViewBag.login != true)
                {
                    <span class="user-name">
                        @Model.Name
                        <img src="~/Images/layout/arrow-point-to-right.svg">

                    </span>
                    if (Model.Picture != null)
                    {
                        <img style="border-radius:100%" src="~/Images/userImage/small/@Model.Picture">
                    }
                    else
                    {
                        <img src="~/Images/layout/user-2.svg">
                    }
                    <div class="account-link  ">
                        <a href="/user">ویرایش اطلاعات</a>
                        <a href="/user">کاربری</a>
                        <a href="/user">تغییر رمز عبور</a>
                        <a href="/user">تغییر ایمیل</a>
                        <a href="/account/logout">خروج از حساب</a>
                    </div>
                }
                else
                {
                    <a href="/account/login" class="log-in">
                        <img src="~/Images/layout/146.svg">

                        <span> ورود به پنل</span>
                    </a>
                    <a href="/account/register" class="sign-in">
                        <img src="~/Images/layout/113@1x.svg">
                        <span> ثبت نام</span>

                    </a>
                }
            </div>
        </div>
        <img src="~/Images/layout/menu-options.svg" id="mobile-icon">
    </div>
</nav>

<!-- mobile-menu -->
<div id="mobile-menu" class="mobile-menu">
    <div class="mobile-links">
        <span id="closeMobile" class="closeMobile">&times;</span><br />
        <div class="text-center flex dir-column">
            @if (User.Identity.IsAuthenticated && ViewBag.login != true)
            {
                <div class="account-mobile">
                    <span id="mobile-user-name" class="user-name">
                        @Model.Name
                        <img src="~/Images/layout/arrow-point-to-right.svg" alt="">
                    </span>
                    @if (Model.Picture != null)
                {
                        <img style="border-radius:100%" src="~/Images/userImage/small/@Model.Picture">

                    }
                    else
                    {
                        <img src="~/Images/layout/user-2.svg">
                    }
                    <div id="mobile-account-link" class="account-link  ">
                        <a href="/user">ویرایش اطلاعات</a>
                        <a href="/user">کاربری</a>
                        <a href="/user">تغییر رمز عبور</a>
                        <a href="/user">تغییر ایمیل</a>
                        <a href="/account/logout">خروج از حساب</a>
                    </div>

                </div>
            }
            else
            {

                <a href="/account/login" class="mobile-log">
                    <img src="~/Images/layout/146.svg" alt="" srcset="">

                    <span> ورود به پنل</span>
                </a>
                <a href="/account/register" class="mobile-log">
                    <img src="~/Images/layout/113@1x.svg" alt="" srcset="">
                    <span> ثبت نام</span>

                </a>
            }
        </div>
        @if (ViewBag.login == true)
        {
            <div class="alert alert-warning text-center">ورود دستگاهی دیگر به حساب شما</div>
        }
        @if (User.Identity.IsAuthenticated && ViewBag.login != true)
        {
            if (Model.RoleID == 1)
            {
                <a href="/admin/users" class="mobile-link">
                    <span class="fa">  کاربرها </span>
                </a>
                <a href="/admin/news" class="mobile-link">
                    <span class="fa">  مدیریت خبرها </span>
                </a>
                <a href="/admin/professors" class="mobile-link">
                    <span class="fa">  استادها </span>
                </a>
                <a href="/admin/publishershops" class="mobile-link">
                    <span class="fa">  مرکز کپی ها</span>
                </a>
                <a href="/admin/Universities" class="mobile-link">
                    <span class="fa">  دانشگاه ها</span>
                </a>
                <a href="/admin/orders" class="mobile-link">
                    <span class="fa">  سفارش ها</span>
                </a>
                <a href="/admin/contactus" class="mobile-link">
                    <span class="fa">  ارتباط با ما</span>
                </a>
            }
            else
            {

                if (Model.RoleID == 2)
                {
                    <a href="/publishershop" class="mobile-link">
                        <span class="fa">  انتشارات من </span>
                    </a>
                }
                <a href="/user " class="mobile-link">
                    <span class="fa">  ناحیه کاربری </span>
                </a>

            }
        }
            <a href="/uni" class="mobile-link">
                <span class="fa">  دانشگاه </span>
            </a>
            <a href="/khabar" class="mobile-link">
                <span class="fa">  اخبار </span>یه
            </a>
            <a href="/contact" class="mobile-link">
                <span class="fa">  همکاری با ما </span>
            </a>
            <a href="/aboutus" class="mobile-link">
                <span class="fa">  درباه ما </span>
            </a>

    </div>
</div>
