﻿@model University.Models.Pamphlet



<div class='row'>
    <div class='col-sm-7 order-xs-1'>

        <p class='modal-text-order'>کد درس: <span>@Model.Code</span></p>
        <p class='modal-text-order'>نام درس: <span>@Model.Course</span></p>
        <p class='modal-text-order'>رشته: <span>@Model.Fild</span></p>
        <p class='modal-text-order'>استاد: <span>@Model.Professor</span></p>
        <p class='modal-text-order'>دانشگاه: <span>@Model.University.Name</span></p>
        <p class='modal-text-order'>تاریخ : <span>@Model.DateCrt.ToString("yyyy/MM/dd")</span></p>
    @if(!User.Identity.IsAuthenticated){
        <div class="alert alert-success text-center" >ارسال برای چاپ رایگان است.</div>
    }
        <a href='/order/print/@Model.ID' class='order-modal-submit text-center'>بفرستش واسه چاپ</a>

    </div><div class='col-sm-5  order-xs-0'>
        @if (Model.Image != null)
            {
            <a href="~/Images/Preview/resize/@Model.Image">
                <img src="~/Images/Preview/resize/@Model.Image" class="img-preview" />
            </a>
        }
        else
        {
            <div class='modal-order-bg '>
            </div>
        }
    </div>
</div>
