﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>پژمان راد</title>
</head>
<body>
    <div class="container"> 
        <div class="alret alert-success text-center">
            پروژه درس کامپایلر
        </div>

        <br />
        <textarea name="Mytext"id="my-textarea" >
        </textarea>
        <p class="text-bold  text-center">استاد : زالی پور</p>
        <p class=" font-size-8em text-center">تهیه کننده : پژمان رحیمی راد</p>
    </div>


    <script>
        $(function () {
            $("#my-textarea").ckeditor();
        })
    </script>
</body>
</html>
