﻿@model IEnumerable<University.Models.University>
<div class='row'>
    @foreach (var item in Model)
    {
        <div class='col-sm-6'>
            <div class='modal-btn' onclick='selectUni(this)'>@item.Name</div>
        </div>
    }
</div>