﻿@model University.Models.Pamphlet

@{
    ViewBag.Title = "اضافه کردن جزوه";
}


<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/add.svg" alt="">
        <p> افزودن جزوه</p>
    </div>

</header>




<section class="signin-body container-fluid">
    <div>
        @using (Html.BeginForm("create", "default", FormMethod.Post, new { area = "publishershop", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            if (TempData["added"] != null)
            {
                <div id="success-add" class="alert alert-success text-center ">
                    با موفقیت اضافه شد
                </div>
            }
            <p class="label-for-pamphlet">کد درس</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { autofocus = "autofocus" } })
            </div>
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet margin-top-1em">نام درس</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Course)
            </div>
            @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet margin-top-1em">استاد</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Professor)
            </div>
            @Html.ValidationMessageFor(model => model.Professor, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet margin-top-1em">رشته</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Fild)
            </div>
            @Html.ValidationMessageFor(model => model.Fild, "", new { @class = "text-danger form-validation" })


            <p class="label-for-pamphlet margin-top-1em">تصویر صفحه اول</p>
            <div class="edit-pamphlet" id="img-div">
                <label for="Image" class="file-label">آپلود تصویر...</label>
                <input type="file" name="Image" id="Image" value="آشنایی با مبانی کامپیوتر">
            </div>
            @Html.ValidationMessage("Image", new { @class = "text-danger form-validation" })


            @*<p class="label-for-pamphlet margin-top-1em">فایل</p>
            <div class="edit-pamphlet"id="pdf-div">
                <label for="file" class="file-label">آپلود فایل...</label>
                <input type="file" name="file" id="file" value="آشنایی با مبانی کامپیوتر">
            </div>
            @Html.ValidationMessage("file", new { @class = "text-danger form-validation" })*@


            <p class="w-100">
                <input type="submit" value="افزودن" class="edit-pamphlet-btn">
                @Html.ActionLink("بازگشت", "Index", null, new { @class = "go-back" })


                @*<a href="#" class="go-back">بازگشت</a>*@
            </p>

        }
    </div>
</section>

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            if ($("#success-add") != "undefinded") {
                setInterval(function () {
                    $("#success-add").fadeOut(300);

                }, 2500)
            }
            $("#file").change(function () {
                $(this).parent().find("label").text("فایل پیوست شد");
                $("#pdf-div").css("background-color", "#d4edda")
            })
            $("#Image").change(function () {
                $(this).parent().find("label").text("تصویر پیوست شد");
                $("#img-div").css("background-color", "#d4edda")
            })
        })
    </script>
}
