﻿@model University.Models.Pamphlet
<div class="alert alert-warning text-center">
    از حذف این مورد مطمئن هستید؟
</div>
<p class="modal-text-order">کد درس: <span>@Model.Code</span></p>
<p class="modal-text-order">نام درس: <span>@Model.Course</span></p>
<p class="modal-text-order">رشته: <span>@Model.Fild</span></p>
<p class="modal-text-order">استاد: <span>@Model.Professor</span></p>
<p class="modal-text-order">تاریخ : <span>@Model.DateCrt.ToString("yyyy/MM/dd")</span></p>
<form action="/" method="post">


    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ID)

        <input type="button" onclick="del_confirm()" value="حذف" class="btn btn-block btn-danger margin-top-1em" />
</form>
