﻿@model University.Models.Pamphlet

@{
    ViewBag.Title = "ویرایش";
}

<header class="signin-header">

    <div class="icon-signin">
        <img src="~/Images/layout/edit.svg" alt="">
        <p> ویرایش</p>
    </div>

</header>
<section class="signin-body container-fluid">
    <div>


        @using (Html.BeginForm("edit", "default", FormMethod.Post, new { area = "publishershop", enctype = "multipart/form-data" }))
        {

            if (ViewBag.ErrorFile != null)
            {
                <div class="alert alert-warning text-center">فرمت فایل آپلودی غیر قابل پشتیبانی است</div>
            }
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ID)
            @Html.HiddenFor(x => x.Image)
            @Html.HiddenFor(x => x.Pdf)

            <p class="label-for-pamphlet">کد درس</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Code)
            </div>
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger form-validation" })


            <p class="label-for-pamphlet margin-top-1em">نام درس</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Course)
            </div>
            @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet margin-top-1em">استاد</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Professor)
            </div>
            @Html.ValidationMessageFor(model => model.Professor, "", new { @class = "text-danger form-validation" })




            <p class="label-for-pamphlet margin-top-1em">رشته</p>
            <div class="edit-pamphlet">
                @Html.EditorFor(model => model.Fild)
            </div>
            @Html.ValidationMessageFor(model => model.Fild, "", new { @class = "text-danger form-validation" })

            <p class="label-for-pamphlet margin-top-1em">تصویر صفحه اول</p>
            <div class="edit-pamphlet" id="img-div">
                <label for="Images" class="file-label">آپلود تصویر...</label>
                <input type="file" name="Images" id="Images" value="آشنایی با مبانی کامپیوتر">
            </div>
            @Html.ValidationMessage("Images", new { @class = "text-danger form-validation" })



            @*<p class="label-for-pamphlet margin-top-1em">فایل</p>
            <div class="edit-pamphlet">
                <label for="file" class="file-label">آپلود فایل...</label>
                <input type="file" name="file" id="file" value="آشنایی با مبانی کامپیوتر">
            </div>*@


            <p class="w-100">
                <input type="submit" value="ویرایش" class="edit-pamphlet-btn">
                @Html.ActionLink("بازگشت", "Index", null, new { @class = "go-back" })


            </p>
        }
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#file").change(function () {
                $(this).parent().find("label").text("فایل پیوست شد");
                $("#pdf-div").css("background-color", "#d4edda")
            })
            $("#Images").change(function () {
                $(this).parent().find("label").text("تصویر پیوست شد");
                $("#img-div").css("background-color", "#d4edda")
            })
        })
    </script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
