﻿@{
    ViewBag.Title = ViewBag.Name;
}
<header class="publisher-header">
    <h1>@ViewBag.Name</h1>
</header>
<section class="publisher container-fluid margin-bottom-1em">

    <div class="row ">

        <div class="col-lg-3">
            <div class="filters">
                <div class="header-filters">فیلتر های جستجو</div>
                <input  id="course"  class="filter-btn" name="course"  type="text" placeholder="درس">
                <input  id="teacher" class="filter-btn" name="teacher" type="text" placeholder="استاد">
                <input  id="fild"    class="filter-btn"name="fild"     type="text" placeholder="رشته">
            </div>
        </div>
        <div class="col-lg-9">

            <div class="filters ">
                <div class="header-filters">لیست جزوات موجود در سایت</div>
                <div class="row margin-bottom-1em">
                    <div class="col-12 link-pub">
                        <a href="/publishershop/default/create" class="btn-add btn-publisher">
                            <img src="~/Images/layout/add-button-inside-black-circle.svg" >
                            افزودن جزوه
                        </a>

                        <a href="/publishershop/orders" class="btn-publisher">
                            سفارشات
                            <span  id="orderCount"> </span>
                        </a>

                        <a href="/publishershop/orders/lastorder/" class="btn-publisher">
                             سفارش های تکمیل شده اخیر
                        </a>
                
                    </div>
                </div>

                <div class="extra-search">
                    <div>
                        <input type="text" id="AdvancedSearch" placeholder="جستجو پیشرفته (درس-استاد-رشته-دانشگاه)">
                    </div>
                </div>
                <div id="list-pamphlets">

                        @if (TempData["notfoundPamphlet"] != null)
                         {
                            <div class="alert alert-warning text-center">
                                جزوه ای با این مشخصات در لیست جزوات شما وجود ندارد
                            </div>
                        }
                        @Html.Action("jozve")

                     


                    </div>
            </div>
        </div>
    </div>
</section>


<div id="Pamphlet-Modal">
    <div id="modal-content-change">
        <a id="closeModal" class="closeModal">&times;</a><br>
        <div id="modal-body">

        </div>
    </div>
</div>


@section scripts{
    <script>

        function showdetails(e) {

            var ID = $(e).attr("Pamphlet-ID");
            $.ajax({
                url: "/publishershop/default/showdetails/" + ID,
                type: "get",

                success: function (ob) {

                    $("#modal-body").html(ob);
                    $("#Pamphlet-Modal").fadeIn(300)


                }
            })
        }
        function del(e) {
            var ID = $(e).attr("Pamphlet-ID");
            $.ajax({
                url: "/publishershop/default/delete/" + ID,
                type: "get",

                success: function (ob) {

                    $("#modal-body").html(ob);
                    $("#Pamphlet-Modal").fadeIn(300)


                }
            })
        }
        function del_confirm() {

            $.ajax({

                url: '/publishershop/default/deleteConfirm/' + $("#ID").val(),
                type: 'post',
                success: function (e) {

                    if (e == 1) {
                        $("#Pamphlet-Modal").fadeOut(300)
                        refreshContent();
                    } else {
                        alert("خطایی رخ داده است");
                    }
                }
            })
        }
        function refreshContent() {
            $.ajax({
                url: '/publishershop/default/jozve/',
                type: 'get',
                success: function (e) {
                    $("#list-pamphlets").html(e);
                }
            })
        }
        $(document).ready(function () {

            setInterval(function () {
                $.ajax({
                    url: '/publishershop/default/ordercount',
                    type: 'get',
                    success: function (e) {
                        $("#orderCount").text(e)
                    }
                })
            },1000)





        //بستن مدال
        $("#closeModal").click(function () {
                $("#Pamphlet-Modal").fadeOut(300)
            })

    ///جستجو پیشرفته
        $("#AdvancedSearch").keyup(function () {
            var text = $(this).val();
            $.ajax({
                url: '/publishershop/default/advsearch/',
                data: { Text: text },
                type: 'get',
                success: function (res) {
                    $("#list-pamphlets").html(res)
                }
            })
        })

        //جستجو جزوات
        $("#course , #teacher ,#fild").keyup(function () {
                var course = $("#course").val()
                var teacher = $("#teacher").val()
                var fild=$("#fild").val()

                $.ajax({
                    url: '/publishershop/default/jozve/',
                    data: { Course: course, Teacher: teacher ,Fild:fild },
                    type: 'get',
                    success: function (res) {

                        $("#list-pamphlets").html(res)
                    }
                })
            })




})
    </script>
}