﻿@model IEnumerable<University.Models.Pamphlet>

@if (Model.Count() != 0)
{
    if (TempData["count"] != null)
    {
        <p class="text-danger font-size-8em">@Model.Count() مورد یافت شد. </p>
    }
    foreach (var item in Model)
    {
        <div class="pamphlet row">
            <div class="col-sm-2 padding-0 code-pamphlet">
                <span style="margin-left:2em;">
                    <img src="~/Images/layout/file.svg" class="icon-pamphlet padding-left-0" alt="">
                </span>
                <span class=" padding-0"> کد:@item.Code</span>


            </div>
            <div class="col-sm-5 border-right-pamphlet">
                <span>
                    @item.Course
                </span>
            </div>
            <div class="col-sm-5 border-right-pamphlet  ">
                <div class="row padding-left-1-10 ">
                    <span class="col-sm-6">@item.Professor</span>

                    <a class=" col-sm-2 publisher-btn-show publisher-border-left" onclick="showdetails(this)" Pamphlet-ID="@item.ID">نمایش</a>
                    <a class=" col-sm-2 publisher-btn-edit publisher-border-left" href="/publishershop/default/edit/@item.ID">ویرایش</a>
                    <a class=" col-sm-2 publisher-btn-delete" onclick="del(this)" Pamphlet-ID="@item.ID">حذف</a>
                </div>
            </div>

        </div>


    }
}


