﻿@model University.Models.Pamphlet
    @if (Model.Image != null)
    {
        <a href="~/Images/Preview/resize/@Model.Image">
            <img src="~/Images/Preview/resize/@Model.Image" class="img-preview" />
        </a>
    }
   <p class='modal-text-order'>کد درس: <span>@Model.Code</span></p>
   <p class='modal-text-order'>نام درس: <span>@Model.Course</span></p>
   <p class='modal-text-order'>رشته: <span>@Model.Fild</span></p>
   <p class='modal-text-order'>استاد: <span>@Model.Professor</span></p>
   <p class='modal-text-order'>دانشگاه: <span>@Model.University.Name</span></p>
   <p class='modal-text-order'>تاریخ : <span>@Model.DateCrt.ToString("yyyy/MM/dd")</span></p>
