﻿
@model IEnumerable<University.Models.ContactUS>

@foreach (var item in Model)
{
    <div class="pamphlet row">
        <div class="col-sm-3 code-pamphlet">
            <span style="margin-left:2em;">

                <img src="~/Images/layout/user-2.svg" class="icon-pamphlet padding-left-0" alt="">
            </span>
            <span class=" padding-0">@item.User.Name </span>
        </div>
        <div class="col-sm-3">@item.Title</div>
        <div class="col-sm-3">
            @if(item.Read!=true){
                <span class="text-danger">در انتظار پاسخ</span>
            }
            else{ 
                <span class="text-success">خوانده شده</span>
            }
        </div>
        <div class="col-sm-3 border-right-pamphlet  ">
            <div class="row padding-left-1-10 ">
                <a class=" col-sm-6 publisher-btn-edit publisher-border-left" href="/admin/contactus/edit/@item.ID">ویرایش</a>
                <a class=" col-sm-6 publisher-btn-delete" href="/admin/contactus/delete/@item.ID">حذف</a>
            </div>
        </div>
    </div>
}
