﻿@model IEnumerable<University.Models.ContactUS>

@{
    ViewBag.Title = "ارتباط با ادمین";
}


<header class="publisher-header">
    <h1>@ViewBag.Title</h1>
</header>
<section class="publisher container-fluid margin-bottom-1em">

    <div class="row ">

        <div class="col-lg-3">
            <div class="filters">
                <div class="header-filters">فیلتر های جستجو</div>
                <input id="txt-search" class="filter-btn" name="search-text" type="text" placeholder="جستجو در همه فیلد ها">

            </div>
        </div>
        <div class="col-lg-9">

            <div class="filters ">
                <div class="header-filters">لیست ارتباط با ما</div>
                <div class="row margin-bottom-1em">

                </div>
                <div id="list-user">

                    @Html.Action("ContactUsList")
                </div>
            </div>
        </div>
    </div>
</section>
